.sey-list {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-shadow: 1px 2px 6px;
  background-color: #fff;
  color: #333;
  transition: bottom 0.1s ease-in-out;
  overflow: auto;
}
.sey-show {
  display: block;
}
.sey-hide {
  display: none;
}
.sey-item {
  cursor: pointer;
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px;
}
.sey-item:hover {
  background-color: #022F51;
  color: #fff;
}
.sey-selected {
  background-color: #022F51;
  color: #fff;
}
