<footer class="a-footer a-bgBlueDarker ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="a-footerExtraNav">
                        <!-- Brønnøysundregistrene, -->
                        <!--<span class="a-footerExtraNav-name">8910 Brønnøysund. Org.nr. 974 760 673</span> -->
                        <div class="a-footerExtraNav-toTop d-md-none">
                            <a href="#top" class="a-linkArea a-btn ">
                                To the top
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a class="d-none d-md-inline" href="https://altinn.no/en/about-altinn/">About Altinn</a>
                            </li>
                            <li>
                                <a href="https://github.com/Altinn/altinn-studio/issues">Backlog</a>
                            </li>
                            <li>
                                <a href="https://altinnstudio.slack.com">Slack</a>
                            </li>
                            <li>
                                <a href="https://github.com/altinn/altinn-studio">GitHub</a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>
    </div>
</footer>