{{/*
  Renders menu for home page - shows all products or a product overview
*/}}
{{- $context := . -}}
{{- $showvisitedlinks := .Site.Params.showVisitedLinks -}}

{{/* For home page, show all main products (excluding altinn-studio which is handled specially) */}}
{{- if eq .Site.Params.ordersectionsby "title" -}}
  {{- range .Site.Home.Sections.ByTitle -}}
    {{- $sectionPath := strings.TrimPrefix "/" .RelPermalink -}}
    {{- $sectionPath = strings.TrimSuffix "/" $sectionPath -}}
    {{- if not (or (eq .LinkTitle "altinn-studio") (eq .Title "altinn-studio") (eq $sectionPath "altinn-studio") (eq $sectionPath "en/altinn-studio") (eq $sectionPath "nb/altinn-studio")) -}}
      {{- template "section-tree-nav" dict "sect" . "currentnode" $context "showvisitedlinks" $showvisitedlinks -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- range .Site.Home.Sections.ByWeight -}}
    {{- $sectionPath := strings.TrimPrefix "/" .RelPermalink -}}
    {{- $sectionPath = strings.TrimSuffix "/" $sectionPath -}}
    {{- if not (or (eq .LinkTitle "altinn-studio") (eq .Title "altinn-studio") (eq $sectionPath "altinn-studio") (eq $sectionPath "en/altinn-studio") (eq $sectionPath "nb/altinn-studio")) -}}
      {{- template "section-tree-nav" dict "sect" . "currentnode" $context "showvisitedlinks" $showvisitedlinks -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Add altinn-studio as a special case with version selection */}}
{{- $altinnStudioPage := .Site.GetPage "/altinn-studio" -}}
{{- $altinnStudioPageEnglish := .Site.GetPage "/en/altinn-studio" -}}
{{- if and (not $altinnStudioPage) $altinnStudioPageEnglish -}}
  {{- $altinnStudioPage = $altinnStudioPageEnglish -}}
{{- end -}}
{{- if $altinnStudioPage -}}
  <li class="dd-item parent">
    <a href="{{ $altinnStudioPage.RelPermalink }}">
      <span>{{safeHTML $altinnStudioPage.Params.Pre}}{{ $altinnStudioPage.LinkTitle }}{{safeHTML $altinnStudioPage.Params.Post}}</span>
      <i class="fa fa-caret-right fa-lg category-icon"></i>
      {{- if $showvisitedlinks -}}
        <i style="color:grey" class="fa fa-circle-thin read-icon"></i>
      {{- end -}}
    </a>
    <ul>
      {{- range $altinnStudioPage.Sections -}}
        {{- template "section-tree-nav" dict "sect" . "currentnode" $context "showvisitedlinks" $showvisitedlinks -}}
      {{- end -}}
    </ul>
  </li>
{{- end -}}