<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
            <div class="form-group a-form-group a-form-group-large">
                <label class="a-h2" for="search-by">{{T "searching-for"}}</label>
                <div class="a-form-group-items input-group">
                    <input id="search-by" class="form-control xa-hasButton" type="search" placeholder="{{T "Search-placeholder"}}" autofocus>
                    <!--div class="input-group-append">
                        <button class="btn btn-secondary" type="button" name="search-button" id="search-submit" aria-label="Search">
                        <i class="ai ai-clear" aria-hidden="true"></i>
                        <span class="sr-only">Clear</span>
                        </button>
                    </div-->
                </div>
                <label for="all-langs">{{T "all-langs"}}</label>: <input id="all-langs" type="checkbox" checked>
            </div>
        </div>
    </div>
</div>

<script src="{{"js/horsey.js" | relURL}}"></script>
<script>
    var baseurl = "{{.Site.BaseURL}}";
    var language = "{{.Lang}}";
</script>
<script src="https://cdn.jsdelivr.net/npm/@elastic/app-search-javascript@8.4.1/dist/elastic_app_search.umd.min.js" integrity="sha256-lBVStH8hKdQM2xGo2BvLryEDqp8BXg86ABbUByBvZrk=" crossorigin="anonymous"></script>
<script src="{{"js/search.js" | relURL}}"></script>