<div class="searchbox">
    <label for="search-by"><i class="fa fa-search"></i></label>
    <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
    <span data-search-clear=""><i class="fa fa-close"></i></span>
</div>
<script src="{{"js/lunr.min.js" | relURL}}"></script>
<script src="{{"js/horsey.js" | relURL}}"></script>
<script>
    var baseurl = "{{.Site.BaseURL}}";
    var language = "{{.Lang}}";
</script>
<script src="https://cdn.jsdelivr.net/npm/@elastic/app-search-javascript@8.4.1/dist/elastic_app_search.umd.min.js" integrity="sha256-lBVStH8hKdQM2xGo2BvLryEDqp8BXg86ABbUByBvZrk=" crossorigin="anonymous"></script>
<script src="{{"js/search.js" | relURL}}"></script>