<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}" class="js csstransforms3d">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{partial "meta.html" . }}
    <title> {{- .Site.Params.Title -}}</title>
    <link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
    <link href="{{"css/nucleus.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/hybrid.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/horsey.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/fortawesome.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/designsystem.css" | relURL}}" rel="stylesheet">
    <link href="{{"pagefind/pagefind-ui.css" | relURL}}" rel="stylesheet">
    
    {{- with .Site.Params.themeStyle -}}
    <link href="{{(printf "css/%s.css" .) | relURL}}" rel="stylesheet">
    {{- else -}}
    <link href="{{"css/theme.css" | relURL}}" rel="stylesheet">
    {{- end -}}
    {{- with .Site.Params.themeVariant -}}
      <link href="{{(printf "css/theme-%s.css" .) | relURL}}" rel="stylesheet">
    {{- end -}}    

    <script src="{{"js/jquery-2.x.min.js" | relURL}}"></script>

    <script src="{{"pagefind/pagefind-ui.js" | relURL}}"></script>
    

    {{- partial "custom-head.html" . -}}

    <style>
      :root #header + #content > #left > #rlblock_left {
        display:none !important;
      }
    </style>
  </head>
  <body class="a-page a-bgWhite" data-url="{{ .RelPermalink }}">
    {{- partial "topbar.html" . -}}

    {{- if and (.IsHome) (.Params.jumbotron) -}}
      {{- partial "jumbotron.html" . -}}
    {{- end -}}
    <div class="container pt-2 pt-md-3 pt-lg-5">
    <div class="row adocs-featuredBlocks">
        {{- partial "blocks/apps.html" . -}}
        {{- partial "blocks/api.html" . -}}
        {{- partial "blocks/architecture.html" . -}}
        {{- partial "dev-guides-link.html" . -}}

      </div>

      <div class="adocs-scrollcontainer d-none">
        <div class="row">
            <div class="col-sm-12">

        <section>
          <div id="content" class="adocs-content js-moveChildrenTo">
        <div id="overlay"></div>
        <div class="a-text">
        <div id="body-inner"> 
