---
import { t } from "@lib/i18n";

interface Props {
  data?: any;
  lang: string;
}
const { lang } = Astro.props;
---

<section class="jumbotron">
  <div class="container jumbotron-inner">
    <h1>{t("learn-about-studio", lang, "Din guide til en ny generasjon Altinn")}</h1>
    <p class="lead">
      {t("jumbotron", lang, "Veiledningen og ressursene du trenger for å lage applikasjoner i Altinn Studio og ta i bruk annen funksjonalitet i Altinn 3.")}
    </p>
  </div>
</section>

<style is:global>
  .jumbotron {
    background-color: #022f51;
    background-image: url("/images/jumbotron.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 4rem 0 14rem 0;
  }
  .jumbotron .jumbotron-inner {
    max-width: 900px;
  }
  .jumbotron h1 {
    font-family: "DIN-bold", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: white !important;
    font-size: 2.25rem;
    margin: 0 0 1rem 0;
    line-height: 1.2;
  }
  .jumbotron .lead {
    color: white !important;
    font-size: 1.15rem;
    max-width: 60ch;
    margin: 0;
  }
</style>
