{
  "openapi": "3.0.1",
  "info": {
    "title": "Altinn Platform Authentication",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://platform.tt02.altinn.no/authentication/api/v1",
      "description": "TT02"
    },
    {
      "url": "https://platform.altinn.no/authentication/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/authentication": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request that handles the form authentication cookie from SBL",
        "parameters": [
          {
            "name": "goTo",
            "in": "query",
            "description": "The url to redirect to if everything validates ok",
            "schema": {
              "type": "string",
              "description": "The url to redirect to if everything validates ok",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/refresh": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refreshes JwtToken.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/exchange/{tokenProvider}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Action for exchanging a JWT generated by a trusted token provider with a new JWT for further use as authentication against rest of Altinn.",
        "parameters": [
          {
            "name": "tokenProvider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "test",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/openid/.well-known/openid-configuration": {
      "get": {
        "tags": [
          "OpenId"
        ],
        "summary": "Returns a discovery document",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/openid/.well-known/openid-configuration/jwks": {
      "get": {
        "tags": [
          "OpenId"
        ],
        "summary": "Returns the JSON Web Key Set to use when validating a token.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": { }
}
