{
  "openapi": "3.0.0",
  "info": {
    "title": "Access Management Resource Owner API",
    "description": "Work in progress API specification for access-management operations for resource owners",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://platform.at22.altinn.cloud/accessmanagement/api/v1/",
      "description": "AT22"
    },
    {
      "url": "https://platform.at23.altinn.cloud/accessmanagement/api/v1/",
      "description": "AT23"
    },
    {
      "url": "https://platform.at24.altinn.cloud/accessmanagement/api/v1/",
      "description": "AT24"
    },
    {
      "url": "https://platform.tt02.altinn.no/accessmanagement/api/v1/",
      "description": "Integration Test"
    },
    {
      "url": "https://platform.altinn.no/accessmanagement/api/v1/",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Maskinporten",
      "description": "API for resource owner / API-provider or Maskinporten to lookup delegations of MaskinportenSchema\n"
    },
    {
      "name": "Authorized Parties",
      "description": "API for looking up authorized parties aka 'reportees' a given subject can represent through having received roles or rights for the party.\n"
    }
  ],
  "paths": {
    "/maskinporten/delegations": {
      "get": {
        "tags": [
          "Maskinporten"
        ],
        "parameters": [
          {
            "name": "supplierOrg",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "consumerOrg",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaskinportenDelegation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "MaskinportenDelegationsAuth": [
              "altinn:maskinporten/delegations.read",
              "altinn:maskinporten/delegations.admin"
            ]
          }
        ]
      }
    },
    "/resourceowner/authorizedparties": {
      "post": {
        "tags": [
          "Authorized Parties"
        ],
        "description": "Query to find all authorized parties of a given subject (person or organization). An authorized party is a person or organization for which the subject have received one or more accesses, through roles, access packages, resource/service delegation or instance delegation.\n",
        "parameters": [
          {
            "name": "includeAltinn2",
            "description": "Filter for whether parties with access information from Altinn 2 should be included. This includes Altinn 2 roles and services, as well as roles through Central Coordinating Register for Legal Entities (Enhetsregisteret).\n",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeAltinn3",
            "description": "Filter for whether parties with access information from Altinn 3 should be included. This includes access packages as well as Altinn 3 resources, apps or instance delegations.\n",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeRoles",
            "description": "Filter for whether 'authorizedRoles' is to be populated with access information for each authorized party. Note: Parties where the user has access through role access will still be included in the response. The filter will only exclude the detailed access information to be included in 'authorizedRoles'. Recommended: 'false', unless explicitly needed.\n",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeAccessPackages",
            "description": "Filter for whether 'authorizedAccessPackages' is to be populated with access information for each authorized party. Note: Parties where the user has access through delegated access packages will still be included in the response. The filter will only exclude the detailed access information to be included in 'authorizedAccessPackages'. Recommended: 'false', unless explicitly needed.\n",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeResources",
            "description": "Filter for whether 'authorizedResources' is to be populated with access information for each authorized party. Note: Parties where the user has access through delegated resource access will still be included in the response. The filter will only exclude the detailed access information to be included in 'authorizedResources'. Recommended: 'false', unless explicitly needed.\n",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeInstances",
            "description": "Filter for whether 'authorizedInstances' is to be populated with access information for each authorized party. Note: Parties where the user has access through delegated instance access will still be included in the response. The filter will only exclude the detailed access information to be included in 'authorizedInstances'. Recommended: 'false', unless explicitly needed.\n",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includePartiesViaKeyRoles",
            "description": "Filter for whether parties where the user has access via their keyrole units, are to be included in the response. E.g. A general manager (dagligleder) of an organization will inherit all party accesses provided to their organization. Setting filter to 'true' will impact performance negatively, especially for users having many keyroles or keyrole(s) for big auditor or accountant firms. If set to 'auto', the user's selected preference in user profile will be used. Recommended: 'false', unless explicitly needed.\n",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AuthorizedPartiesIncludeFilter"
            }
          },
          {
            "name": "includeSubParties",
            "description": "Note: not yet implemented. Filter for whether party hierarchy (subunits), are to be included in the response. If set to 'auto', the user's selected preference in user profile will be used.\n",
            "in": "query",
            "x-not-implemented": true,
            "schema": {
              "$ref": "#/components/schemas/AuthorizedPartiesIncludeFilter"
            }
          },
          {
            "name": "includeInactiveParties",
            "description": "Note: not yet implemented. Filter for whether inactive (isDeleted: true) parties, are to be included in the response. If set to 'auto', the user's selected preference in user profile will be used.\n",
            "in": "query",
            "x-not-implemented": true,
            "schema": {
              "$ref": "#/components/schemas/AuthorizedPartiesIncludeFilter"
            }
          },
          {
            "name": "orgCode",
            "description": "Filter for only getting authorized parties relevant for resources owned by the specified service owner org code. Token authenticated service owner (consumer organization) must be owner of the org code. Currently optional, but will in the future be made mandatory for service owners authorized through scope: 'altinn:accessmanagement/authorizedparties.resourceowner'\n",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "digdir"
            }
          },
          {
            "name": "anyOfResourceIds",
            "description": "Filter for only returning authorized parties where the subject has access to any of the provided resource ids. This includes indirect access to resource through authorized roles or accesspackages, as well as where access exist for only individual resource instances. Invalid resource ids are ignored.\n",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": ["app_org_appname", "someresourceid"]
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AuthorizedPartyRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthorizedParty"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizedPartiesSOAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AuthorizedPartiesIncludeFilter": {
        "description": "Auto: the user's selected preference in user profile will be used.\n",
        "enum": [
          "false",
          "true",
          "auto"
        ],
        "type": "string"
      },
      "AuthorizedPartyRequest": {
        "required": [
          "type",
          "value"
        ],
        "type": "object",
        "properties": {
          "type": {
            "minLength": 1,
            "type": "string",
            "example": "urn:altinn:person:identifier-no"
          },
          "value": {
            "minLength": 1,
            "type": "string",
            "example": "01017012345"
          },
          "partyFilter": {
            "description": "Filter for fetching a single or a subset of parties from the subject user's list of authorized parties. Recommended for use in all scenarios where checking for access on behalf of specific party/parties.\n",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UrnAttribute"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MaskinportenDelegation": {
        "type": "object",
        "properties": {
          "consumer_org": {
            "type": "string",
            "nullable": true
          },
          "supplier_org": {
            "type": "string",
            "nullable": true
          },
          "delegation_scheme_Id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "scopes": {
            "uniqueItems": true,
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "resourceid": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UrnAttribute": {
        "required": [
          "type",
          "value"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "example": {
          "type": "urn:altinn:organization:identifier-no",
          "value": "991825827"
        }
      },
      "Subject": {
        "$ref": "#/components/schemas/UrnAttribute"
      },
      "AuthorizedParty": {
        "type": "object",
        "properties": {
          "partyUuid": {
            "type": "string",
            "format": "uuid",
            "example": "8a884071-8921-4ecf-93a8-c8502df5e3f8"
          },
          "name": {
            "type": "string",
            "example": "Ola Nordmann"
          },
          "organizationNumber": {
            "type": "string",
            "nullable": true
          },
          "personId": {
            "type": "string",
            "nullable": true,
            "example": "01017012345"
          },
          "dateOfBirth": {
            "type": "string",
            "nullable": true,
            "example": "1970-01-01"
          },
          "type": {
            "$ref": "#/components/schemas/AuthorizedPartyType"
          },
          "partyId": {
            "type": "integer",
            "format": "int32",
            "example": 50001337
          },
          "unitType": {
            "type": "string",
            "nullable": true
          },
          "isDeleted": {
            "type": "boolean",
            "example": false
          },
          "onlyHierarchyElementWithNoAccess": {
            "type": "boolean",
            "example": false
          },
          "authorizedResources": {
            "type": "array",
            "items": {
              "type": "string",
              "example": ["app_org_appname", "someresourceid"]
            },
            "nullable": true
          },
          "authorizedAccessPackages": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "regnskapsforer-lonn"
            },
            "nullable": true
          },
          "authorizedRoles": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "PRIV"
            },
            "nullable": true
          },
          "authorizedInstances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthorizedResource"
            },
            "nullable": true
          },
          "subunits": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AuthorizedParty"
            }
          }
        },
        "additionalProperties": false
      },
      "AuthorizedPartyType": {
        "type": "string",
        "enum": [
          "Person",
          "Organization",
          "SelfIdentified"
        ]
      },
      "AuthorizedResource": {
        "type": "object",
        "properties": {
          "resourceId": {
            "type": "string",
            "nullable": true,
            "example": "myresource"
          },
          "instanceId": {
            "type": "string",
            "nullable": true,
            "example": "8c37834d-4fb6-4ea3-8a59-dc0a4cae16ce"
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true,
            "example": "https://tools.ietf.org/html/rfc7231#section-6.6.1"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "example": "One or more errors occurred."
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "example": 500
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true,
            "example": "https://tools.ietf.org/html/rfc7231#section-6.5.1"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "example": "One or more validation errors occurred."
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "example": 400
          },
          "traceId": {
            "type": "string",
            "nullable": true,
            "example": "00-0a6466bbfecd2763315c53399d8dfb2d-d20012576660bd3f-00"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              {
                "id": "$.resource[1].value",
                "value": "The resource does not exist"
              }
            ]
          }
        },
        "additionalProperties": false
      }
    },
    "requestBodies": {
      "AuthorizedPartyRequest": {
        "description": "A JSON object containing information for a lookup request of a given party's list of authorized parties (parties where the lookup party have received roles, access groups or rights)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AuthorizedPartyRequest"
            }
          }
        },
        "required": true
      }
    },
    "securitySchemes": {
      "MaskinportenDelegationsAuth": {
        "type": "http",
        "description": "Requires one of the following Scopes: [altinn:maskinporten/delegations.read, altinn:maskinporten/delegations.admin]",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "AuthorizedPartiesSOAuth": {
        "type": "http",
        "description": "Requires one of the following Scopes: [altinn:accessmanagement/authorizedparties.resourceowner, altinn:accessmanagement/authorizedparties.admin]",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}