{
  "openapi": "3.0.4",
  "info": {
    "title": "Altinn Platform Storage",
    "description": "This is the public API for Altinn Platform Storage. Note that the mutating endpoints (everything except GET) needs a platform access token and external users will need to call the api in the specific app",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://platform.tt02.altinn.no/storage/api/v1",
      "description": "T02"
    },
    {
      "url": "https://platform.altinn.no/storage/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get all applications.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationList"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{org}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get all applications deployed by a given application owner.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "The id of the application owner.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{org}/{app}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get the metadata for a spesific application based on the given application identifiers.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Unique identifier of the organisation responsible for the app.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "description": "Application identifier which is unique within an organisation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}": {
      "delete": {
        "tags": [
          "Data"
        ],
        "summary": "Deletes a specific data element.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the data element is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dataGuid",
            "in": "path",
            "description": "The id of the data element to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "delay",
            "in": "query",
            "description": "A boolean to indicate if the delete should be immediate or delayed following Altinn's business logic",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataElement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Data"
        ],
        "summary": "Gets a data file from storage. The content type is the same as the file was stored with.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the data element is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dataGuid",
            "in": "path",
            "description": "The id of the data element to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Data"
        ],
        "summary": "Replaces an existing data element with the attached file. The StreamContent.Headers.ContentDisposition.FileName property shall be used to set the filename on client side",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the data element is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dataGuid",
            "in": "path",
            "description": "The id of the data element to replace.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "refs",
            "in": "query",
            "description": "An optional array of data element references.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "generatedFromTask",
            "in": "query",
            "description": "An optional id of the task the data element was generated from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataElement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/dataelements": {
      "get": {
        "tags": [
          "Data"
        ],
        "summary": "Returns a list of data elements of an instance.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the data element is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataElementList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/data": {
      "post": {
        "tags": [
          "Data"
        ],
        "summary": "Create and save the data element. The StreamContent.Headers.ContentDisposition.FileName property shall be used to set the filename on client side",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the data element is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dataType",
            "in": "query",
            "description": "The data type identifier for the data being uploaded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refs",
            "in": "query",
            "description": "An optional array of data element references.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "generatedFromTask",
            "in": "query",
            "description": "An optional id of the task the data element was generated from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataElement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/dataelements/{dataGuid}": {
      "put": {
        "tags": [
          "Data"
        ],
        "summary": "Replaces the existing metadata for a data element with the new data element.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the data element is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dataGuid",
            "in": "path",
            "description": "The id of the data element to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new metadata for the data element.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataElement"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataElement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/dataelements/{dataGuid}/filescanstatus": {
      "put": {
        "tags": [
          "Data"
        ],
        "summary": "Sets the file scan status for an existing data element.",
        "parameters": [
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the data element is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dataGuid",
            "in": "path",
            "description": "The id of the data element to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The file scan results for this data element.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileScanStatus"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/lock": {
      "put": {
        "tags": [
          "DataLock"
        ],
        "summary": "Locks a data element",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the data element is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dataGuid",
            "in": "path",
            "description": "The id of the data element to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataElement"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataElement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DataLock"
        ],
        "summary": "Unlocks a data element",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the data element is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dataGuid",
            "in": "path",
            "description": "The id of the data element to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataElement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/events": {
      "post": {
        "tags": [
          "InstanceEvents"
        ],
        "summary": "Inserts new instance event into the instanceEvent collection.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the event is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The instance event object to be inserted",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstanceEvent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "InstanceEvents"
        ],
        "summary": "Retrieves all instance events related to given instance id, listed event types, and given time frame from instanceEvent collection.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the event(s) is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "eventTypes",
            "in": "query",
            "description": "Array of event types to filter the events by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Lower bound for DateTime span to filter events by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Upper bound for DateTime span to filter events by.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceEventList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/events/{eventGuid}": {
      "get": {
        "tags": [
          "InstanceEvents"
        ],
        "summary": "Get information about one specific event.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that the event is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "eventGuid",
            "in": "path",
            "description": "The unique id of the specific event to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceEvent"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/lock": {
      "post": {
        "tags": [
          "InstanceLock"
        ],
        "summary": "Attempts to acquire a lock for an instance.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance to lock.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The lock request containing expiration time.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstanceLockRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceLockResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "InstanceLock"
        ],
        "summary": "Updates TTL on an instance lock.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance to lock.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Altinn-Storage-Lock-Token",
            "in": "header",
            "description": "The lock token used for authorizing access to the lock.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The lock request (TTL should be 0 for release).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstanceLockRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/mutations": {
      "post": {
        "tags": [
          "InstanceMutations"
        ],
        "summary": "Commits a batch of mutations for a single instance.\nFor multipart requests, the first part must be the `mutation` JSON field;\neach subsequent part must match exactly one `contentPartName` in the request.\nUnknown, duplicate, or missing file parts are rejected with 400 Bad Request.",
        "description": "After the endpoint's outer `InstanceWrite` policy admits the request, idempotent replay\nis checked before process-state, presentation-text, data-value, per-data-type write,\ncomplete-confirmation, and delete-instance authorization. A complete confirmation is\nadditionally subject to the `InstanceComplete` policy and is recorded for the calling\norganisation only; an organisation that already has a confirmation keeps the one it has, and\nthe remaining operations commit either way. An admitted replay is a no-op and uses the snapshot\nreturned by replay admission. For non-replays, operation-specific authorization is evaluated\nagainst the controller's instance snapshot; data-element update and delete references missing\nfrom that snapshot are rejected by later plan validation. Process-state mutations on instances\nwithout a current task, and delete-instance mutations the application prevents from deletion,\nare rejected after replay admission. Delete-instance mutations check instance existence before\ndelete authorization, so a missing instance returns 404 before a possible delete-policy 403.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that should be mutated.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional idempotency key. Requires an expected instance version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceMutationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances": {
      "get": {
        "tags": [
          "Instances"
        ],
        "summary": "Retrieves all instances that match the specified query parameters. Parameters can be combined. Invalid or unknown parameter values will result in a 400 Bad Request response.",
        "parameters": [
          {
            "name": "org",
            "in": "query",
            "description": "The organization identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "query",
            "description": "The application identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "process.currentTask",
            "in": "query",
            "description": "The current task identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataValues.A2ArchRef",
            "in": "query",
            "description": "The historical Altinn 2 archive reference stored under the \"A2ArchRef\" key in the instance's data values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "process.isComplete",
            "in": "query",
            "description": "A value indicating whether the process is completed.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "process.endEvent",
            "in": "query",
            "description": "The process end state.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "process.ended",
            "in": "query",
            "description": "The process ended value.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "instanceOwner.partyId",
            "in": "query",
            "description": "The instance owner party identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lastChanged",
            "in": "query",
            "description": "The last changed date.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "created",
            "in": "query",
            "description": "The creation date.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "visibleAfter",
            "in": "query",
            "description": "The visible after date time.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "dueBefore",
            "in": "query",
            "description": "The due before date time.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "excludeConfirmedBy",
            "in": "query",
            "description": "A string that will hide instances already confirmed by stakeholder.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirmed",
            "in": "query",
            "description": "Confirmed = false is a compact version of ExcludeConfirmedBy indicating\nExcludeConfirmedBy for the org that invokes the request",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "status.isSoftDeleted",
            "in": "query",
            "description": "A value indicating whether the instance is soft deleted.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "status.isHardDeleted",
            "in": "query",
            "description": "A value indicating whether the instance is hard deleted.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "status.isArchived",
            "in": "query",
            "description": "A value indicating whether the instance is archived.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "The continuation token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Ai-InstanceOwnerIdentifier",
            "in": "header",
            "description": "The instance owner identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mainVersionInclude",
            "in": "query",
            "description": "The Altinn version to include. E.g. \"mainVersionInclude=3\" will filter the response to only get the Altinn 3 instances.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 3
            }
          },
          {
            "name": "mainVersionExclude",
            "in": "query",
            "description": "The Altinn version to exclude. E.g. \"mainVersionExclude=3\" will filter the response to exclude Altinn 3 instances.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "searchString",
            "in": "query",
            "description": "Gets or sets the search string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Gets or sets the value by which the result will be sorted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDataElements",
            "in": "query",
            "description": "Should query include data elements",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "A3Ref",
            "in": "query",
            "description": "Gets or sets the A3 reference.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Instances"
        ],
        "summary": "Inserts new instance into the instance collection.",
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "description": "the application id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The instance details to store.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Instance"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}": {
      "get": {
        "tags": [
          "Instances"
        ],
        "summary": "Gets a specific instance with the given instance id.\nThis endpoint is maintained for backwards compatibility but requires an unnecessary instanceOwnerPartyId parameter.\nPrefer using GetByGuid which only requires the instance GUID.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Instances"
        ],
        "summary": "Delete an instance.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that should be deleted.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "hard",
            "in": "query",
            "description": "if true hard delete will take place. if false, the instance gets its status.softDelete attribute set to current date and time.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceGuid}": {
      "get": {
        "tags": [
          "Instances"
        ],
        "summary": "Gets a specific instance with the given instance guid.\nPrefer this endpoint over Get which requires an unnecessary instanceOwnerPartyId parameter.",
        "parameters": [
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/complete": {
      "post": {
        "tags": [
          "Instances"
        ],
        "summary": "Add complete confirmation.",
        "description": "Add to an instance that a given stakeholder considers the instance as no longer needed by them. The stakeholder has\ncollected all the data and information they needed from the instance and expect no additional data to be added to it.\nThe body of the request isn't used for anything despite this being a POST operation.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance to confirm as complete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/readstatus": {
      "put": {
        "tags": [
          "Instances"
        ],
        "summary": "Update instance read status.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance to confirm as complete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The updated read status.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/substatus": {
      "put": {
        "tags": [
          "Instances"
        ],
        "summary": "Update instance sub status.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance to confirm as complete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated sub status.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Substatus"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Substatus"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Substatus"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Substatus"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/presentationtexts": {
      "put": {
        "tags": [
          "Instances"
        ],
        "summary": "Updates the presentation texts on an instance",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance to confirm as complete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Collection of changes to the presentation texts collection.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresentationTexts"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/datavalues": {
      "put": {
        "tags": [
          "Instances"
        ],
        "summary": "Updates the data values on an instance.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance to confirm as complete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Collection of changes to the data values collection.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataValues"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/process": {
      "put": {
        "tags": [
          "Process"
        ],
        "summary": "Updates the process of an instance.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that should have its process updated.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new process state of the instance.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/process/instanceandevents": {
      "put": {
        "tags": [
          "Process"
        ],
        "summary": "Updates the process state of an instance.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance that should have its process updated.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "deleteGeneratedElements",
            "in": "query",
            "description": "Optional `deleteGeneratedElements` query parameter, bound as a nullable boolean. Defaults to\n`true` when absent: on task entry this controller deletes the data elements generated from the\nentered task, exactly as it always has. A caller that manages its own task-generated data cleanup\n(e.g. a v9 app, which prunes those elements at task start) opts out with `deleteGeneratedElements=false`\nso this controller does not delete elements it just created. A non-boolean value is rejected with\n`400 Bad Request` by model binding - a caller sending this deliberate parameter is expected to\nencode a valid boolean.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new process state of the instance (including instance events).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessStateUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/process/history": {
      "get": {
        "tags": [
          "Process"
        ],
        "summary": "Get the process history for an instance.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The id of the instance whos process history to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessHistoryList"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceOwnerPartyId}/{instanceGuid}/sign": {
      "post": {
        "tags": [
          "Sign"
        ],
        "summary": "Create signature document from listed data elements.",
        "parameters": [
          {
            "name": "instanceOwnerPartyId",
            "in": "path",
            "description": "The party id of the instance owner.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "instanceGuid",
            "in": "path",
            "description": "The guid of the instance.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Instance-Version-Match",
            "in": "header",
            "description": "Optional expected aggregate instance version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Process-State-Version-Match",
            "in": "header",
            "description": "Optional expected process-state version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Sign request containing data element ids and sign status.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SignRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SignRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SignRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{org}/{app}/texts/{language}": {
      "get": {
        "tags": [
          "Texts"
        ],
        "summary": "Gets a text resource",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "the org",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "description": "the app",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "path",
            "description": "the language, must be a two letter ISO name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiScopes": {
        "type": "object",
        "properties": {
          "read": {
            "type": "string",
            "nullable": true
          },
          "write": {
            "type": "string",
            "nullable": true
          },
          "errorMessageTextResourceKey": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApiScopesConfiguration": {
        "type": "object",
        "properties": {
          "users": {
            "$ref": "#/components/schemas/ApiScopes"
          },
          "serviceOwners": {
            "$ref": "#/components/schemas/ApiScopes"
          },
          "errorMessageTextResourceKey": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AppMetadataAccess": {
        "type": "object",
        "properties": {
          "rightDescription": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "delegable": {
            "type": "boolean"
          },
          "visible": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "AppMetadataContactPoint": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "telephone": {
            "type": "string",
            "nullable": true
          },
          "contactPage": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "versionId": {
            "type": "string",
            "nullable": true
          },
          "org": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "validFrom": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "validTo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "processId": {
            "type": "string",
            "nullable": true
          },
          "dataTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataType"
            },
            "nullable": true
          },
          "partyTypesAllowed": {
            "$ref": "#/components/schemas/PartyTypesAllowed"
          },
          "autoDeleteOnProcessEnd": {
            "type": "boolean"
          },
          "preventInstanceDeletionForDays": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "presentationFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataField"
            },
            "nullable": true
          },
          "dataFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataField"
            },
            "nullable": true
          },
          "eFormidling": {
            "$ref": "#/components/schemas/EFormidlingContract"
          },
          "onEntry": {
            "$ref": "#/components/schemas/OnEntryConfig"
          },
          "messageBoxConfig": {
            "$ref": "#/components/schemas/MessageBoxConfig"
          },
          "copyInstanceSettings": {
            "$ref": "#/components/schemas/CopyInstanceSettings"
          },
          "apiScopes": {
            "$ref": "#/components/schemas/ApiScopesConfiguration"
          },
          "storageAccountNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "disallowUserInstantiation": {
            "type": "boolean"
          },
          "homepage": {
            "type": "string",
            "nullable": true
          },
          "keywords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Keyword"
            },
            "nullable": true
          },
          "description": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "access": {
            "$ref": "#/components/schemas/AppMetadataAccess"
          },
          "contactPoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppMetadataContactPoint"
            },
            "nullable": true
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "lastChanged": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastChangedBy": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApplicationList": {
        "type": "object",
        "properties": {
          "applications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Application"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApplicationLogic": {
        "type": "object",
        "properties": {
          "autoCreate": {
            "type": "boolean",
            "nullable": true
          },
          "classRef": {
            "type": "string",
            "nullable": true
          },
          "schemaRef": {
            "type": "string",
            "nullable": true
          },
          "allowAnonymousOnStateless": {
            "type": "boolean"
          },
          "autoDeleteOnProcessEnd": {
            "type": "boolean"
          },
          "disallowUserCreate": {
            "type": "boolean"
          },
          "disallowUserDelete": {
            "type": "boolean"
          },
          "shadowFields": {
            "$ref": "#/components/schemas/ShadowFields"
          }
        },
        "additionalProperties": false
      },
      "CompleteConfirmation": {
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "nullable": true
          },
          "confirmedOn": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "CopyInstanceSettings": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "excludedDataTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "excludedDataFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "includeAttachments": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "DataElement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "instanceGuid": {
            "type": "string",
            "nullable": true
          },
          "dataType": {
            "type": "string",
            "nullable": true
          },
          "filename": {
            "type": "string",
            "nullable": true
          },
          "contentType": {
            "type": "string",
            "nullable": true
          },
          "blobStoragePath": {
            "type": "string",
            "nullable": true
          },
          "selfLinks": {
            "$ref": "#/components/schemas/ResourceLinks"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "contentHash": {
            "type": "string",
            "nullable": true
          },
          "blobVersionId": {
            "type": "string",
            "nullable": true
          },
          "locked": {
            "type": "boolean"
          },
          "refs": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "isRead": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "userDefinedMetadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValueEntry"
            },
            "nullable": true
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValueEntry"
            },
            "nullable": true
          },
          "deleteStatus": {
            "$ref": "#/components/schemas/DeleteStatus"
          },
          "fileScanResult": {
            "$ref": "#/components/schemas/FileScanResult"
          },
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            },
            "nullable": true
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "lastChanged": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastChangedBy": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DataElementList": {
        "type": "object",
        "properties": {
          "dataElements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataElement"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DataElementSignature": {
        "type": "object",
        "properties": {
          "dataElementId": {
            "type": "string",
            "nullable": true
          },
          "signed": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "DataField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "dataTypeId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DataType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "allowedContentTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "allowedContributers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "deprecated": true
          },
          "allowedContributors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "actionRequiredToRead": {
            "type": "string",
            "nullable": true
          },
          "actionRequiredToWrite": {
            "type": "string",
            "nullable": true
          },
          "appLogic": {
            "$ref": "#/components/schemas/ApplicationLogic"
          },
          "taskId": {
            "type": "string",
            "nullable": true
          },
          "maxSize": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxCount": {
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          "minCount": {
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          "grouping": {
            "type": "string",
            "nullable": true
          },
          "enablePdfCreation": {
            "type": "boolean"
          },
          "enableFileScan": {
            "type": "boolean"
          },
          "validationErrorOnPendingFileScan": {
            "type": "boolean"
          },
          "enabledFileAnalysers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "enabledFileValidators": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "allowedKeysForUserDefinedMetadata": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DataValues": {
        "type": "object",
        "properties": {
          "values": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DeleteStatus": {
        "type": "object",
        "properties": {
          "isHardDeleted": {
            "type": "boolean"
          },
          "hardDeleted": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EFormidlingContract": {
        "type": "object",
        "properties": {
          "serviceId": {
            "type": "string",
            "nullable": true
          },
          "dpfShipmentType": {
            "type": "string",
            "nullable": true
          },
          "receiver": {
            "type": "string",
            "nullable": true
          },
          "sendAfterTaskId": {
            "type": "string",
            "nullable": true
          },
          "process": {
            "type": "string",
            "nullable": true
          },
          "standard": {
            "type": "string",
            "nullable": true
          },
          "typeVersion": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "securityLevel": {
            "type": "integer",
            "format": "int32"
          },
          "dataTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FileScanResult": {
        "enum": [
          "NotApplicable",
          "Pending",
          "Clean",
          "Infected"
        ],
        "type": "string"
      },
      "FileScanStatus": {
        "type": "object",
        "properties": {
          "contentHash": {
            "type": "string",
            "nullable": true
          },
          "blobVersionId": {
            "type": "string",
            "nullable": true
          },
          "fileScanResult": {
            "$ref": "#/components/schemas/FileScanResult"
          }
        },
        "additionalProperties": false
      },
      "HideSettings": {
        "type": "object",
        "properties": {
          "hideAlways": {
            "type": "boolean"
          },
          "hideOnTask": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Instance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "instanceOwner": {
            "$ref": "#/components/schemas/InstanceOwner"
          },
          "appId": {
            "type": "string",
            "nullable": true
          },
          "org": {
            "type": "string",
            "nullable": true
          },
          "selfLinks": {
[...]
