{
  "openapi": "3.0.3",
  "info": {
    "title": "Altinn.Notifications",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://platform.tt02.altinn.no/notifications/api/v1",
      "description": "TT02"
    },
    {
      "url": "https://platform.altinn.no/notifications/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/orders/email": {
      "post": {
        "tags": [
          "Deprecated"
        ],
        "summary": "Send email notifications",
        "description": "Endpoint for sending an email notification to one or more recipient.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailNotificationOrderRequestExt"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Indicates a missing, invalid or expired authorization header."
          },
          "403": {
            "description": "Indicates missing or invalid scope or Platform Access Token."
          },
          "202": {
            "description": "The request was accepted and a notification order has been successfully generated.",
            "headers": {
              "Location": {
                "description": "Link to access the newly created notification order.",
                "schema": {
                  "type": "string",
                  "description": "Link to access the newly created notification order.",
                  "format": ""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationOrderRequestResponseExt"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/orders/{id}/notifications/email": {
      "get": {
        "tags": [
          "Deprecated"
        ],
        "summary": "Get email notifications",
        "description": "Endpoint for retrieving the send status of all email notifications generated by a notification order.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the notification order for which notifications are to be retrieved.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Indicates a missing, invalid or expired authorization header."
          },
          "403": {
            "description": "Indicates missing or invalid scope or Platform Access Token."
          },
          "200": {
            "description": "The email notifications were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailNotificationSummaryExt"
                }
              }
            }
          },
          "404": {
            "description": "No order matching the provided ID was found."
          }
        },
        "deprecated": true
      }
    },
    "/future/orders": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Creates a new notification order with zero or more reminders",
        "description": "The API will accept the request after some basic validation of the request.\nThe system will also attempt to verify that it will be possible to fulfill the order.",
        "requestBody": {
          "description": "The notification order request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationOrderChainRequestExt"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Caller is unauthorized"
          },
          "403": {
            "description": "Caller is not authorized to access the requested resource"
          },
          "201": {
            "description": "The notification order was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationOrderChainResponseExt"
                }
              }
            }
          },
          "200": {
            "description": "The notification order was created previously.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationOrderChainResponseExt"
                }
              }
            }
          },
          "400": {
            "description": "The notification order is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "The notification order is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "499": {
            "description": "Request terminated - The client disconnected or cancelled the request before the server could complete processing"
          }
        }
      }
    },
    "/future/orders/instant": {
      "post": {
        "tags": [
          "Instant Orders"
        ],
        "summary": "Creates and sends an instant SMS notification to a single recipient (deprecated - use /sms endpoint instead).",
        "requestBody": {
          "description": "The request payload containing the details of the instant notification to be sent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstantNotificationOrderRequestExt"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Caller is unauthorized"
          },
          "403": {
            "description": "Caller is not authorized to access the requested resource"
          },
          "201": {
            "description": "The instant notification was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstantNotificationOrderResponseExt"
                }
              }
            }
          },
          "200": {
            "description": "The notification order was created previously.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstantNotificationOrderResponseExt"
                }
              }
            }
          },
          "400": {
            "description": "The notification order is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "499": {
            "description": "Request terminated - The client disconnected or cancelled the request before the server could complete processing"
          },
          "500": {
            "description": "An internal server error occurred while processing the notification order"
          }
        },
        "deprecated": true
      }
    },
    "/future/orders/instant/sms": {
      "post": {
        "tags": [
          "Instant Orders"
        ],
        "summary": "Creates and sends an instant SMS notification to a single recipient.",
        "requestBody": {
          "description": "The request payload containing the details of the instant SMS notification to be sent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstantSmsNotificationOrderRequestExt"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Caller is unauthorized"
          },
          "403": {
            "description": "Caller is not authorized to access the requested resource"
          },
          "201": {
            "description": "The instant SMS notification was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstantNotificationOrderResponseExt"
                }
              }
            }
          },
          "200": {
            "description": "The SMS notification order was created previously.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstantNotificationOrderResponseExt"
                }
              }
            }
          },
          "400": {
            "description": "The SMS notification order is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "499": {
            "description": "Request terminated - The client disconnected or cancelled the request before the server could complete processing"
          },
          "500": {
            "description": "An internal server error occurred while processing the SMS notification order"
          }
        }
      }
    },
    "/future/orders/instant/email": {
      "post": {
        "tags": [
          "Instant Orders"
        ],
        "summary": "Creates and sends an instant email notification to a single recipient.",
        "requestBody": {
          "description": "The request payload containing the details of the instant email notification to be sent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstantEmailNotificationOrderRequestExt"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Caller is unauthorized"
          },
          "403": {
            "description": "Caller is not authorized to access the requested resource"
          },
          "201": {
            "description": "The instant email notification was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstantNotificationOrderResponseExt"
                }
              }
            }
          },
          "200": {
            "description": "The email notification order was created previously.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstantNotificationOrderResponseExt"
                }
              }
            }
          },
          "400": {
            "description": "The email notification order is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "499": {
            "description": "Request terminated - The client disconnected or cancelled the request before the server could complete processing"
          },
          "500": {
            "description": "An internal server error occurred while processing the email notification order"
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": [
          "Deprecated"
        ],
        "summary": "Get order details",
        "description": "Endpoint for retrieving details of a notification order, including its template and recipients.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the notification order for which details are to be retrieved.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Indicates a missing, invalid or expired authorization header."
          },
          "403": {
            "description": "Indicates missing or invalid scope or Platform Access Token."
          },
          "200": {
            "description": "The details of the notification order were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationOrderExt"
                }
              }
            }
          },
          "404": {
            "description": "No order matching the provided ID was found."
          }
        },
        "deprecated": true
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Deprecated"
        ],
        "summary": "Endpoint for retrieving an order by senders reference",
        "parameters": [
          {
            "name": "sendersReference",
            "in": "query",
            "description": "The senders reference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Caller is unauthorized"
          },
          "403": {
            "description": "Caller is not authorized to access the requested resource"
          },
          "200": {
            "description": "The list of notification orders matching the provided senders ref was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationOrderListExt"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Deprecated"
        ],
        "summary": "Send notifications",
        "description": "Endpoint for sending a notification via a selected notification channel to one or more recipient.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationOrderRequestExt"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Indicates a missing, invalid or expired authorization header."
          },
          "403": {
            "description": "Indicates missing or invalid scope or Platform Access Token."
          },
          "202": {
            "description": "The request was accepted and a notification order has been successfully generated.",
            "headers": {
              "Location": {
                "description": "Link to access the newly created notification order.",
                "schema": {
                  "type": "string",
                  "description": "Link to access the newly created notification order.",
                  "format": ""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationOrderRequestResponseExt"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/orders/{id}/status": {
      "get": {
        "tags": [
          "Deprecated"
        ],
        "summary": "Get order status",
        "description": "Endpoint for retrieving the processing status of a notification order, along with a summary of all generated notifications.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the notification order for which status are to be retrieved.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Indicates a missing, invalid or expired authorization header."
          },
          "403": {
            "description": "Indicates missing or invalid scope or Platform Access Token."
          },
          "200": {
            "description": "The status of the notification order was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationOrderWithStatusExt"
                }
              }
            }
          },
          "404": {
            "description": "No order matching the provided ID was found."
          }
        },
        "deprecated": true
      }
    },
    "/orders/{id}/cancel": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Cancel a notification order.",
        "description": "Endpoint for stopping the sending of a registered notification order.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the notification order for which notifications are to be cancelled.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Indicates a missing, invalid or expired authorization header."
          },
          "403": {
            "description": "Indicates missing or invalid scope or Platform Access Token."
          },
          "200": {
            "description": "The notification order was cancelled. No notifications will be sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationOrderWithStatusExt"
                }
              }
            }
          },
          "404": {
            "description": "No order matching the provided ID was found."
          },
          "409": {
            "description": "The order cannot be cancelled due to current processing status."
          }
        }
      }
    },
    "/future/shipment/{id}": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Retrieve the delivery manifest for a specific notification order.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier (GUID) of the notification order.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Caller is unauthorized"
          },
          "403": {
            "description": "Caller is not authorized to access the requested resource"
          },
          "404": {
            "description": "No shipment with the provided identifier was found"
          },
          "200": {
            "description": "The shipment matching the provided identifier was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDeliveryManifestExt"
                }
              }
            }
          },
          "499": {
            "description": "Request terminated - The client disconnected or cancelled the request"
          }
        }
      }
    },
    "/orders/sms": {
      "post": {
        "tags": [
          "Deprecated"
        ],
        "summary": "Send SMS notifications",
        "description": "Endpoint for sending SMS notifications to one or more recipients.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsNotificationOrderRequestExt"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Indicates a missing, invalid or expired authorization header."
          },
          "403": {
            "description": "Indicates missing or invalid scope or Platform Access Token."
          },
          "202": {
            "description": "The request was accepted and a notification order has been successfully generated.",
            "headers": {
              "Location": {
                "description": "Link to access the newly created notification order.",
                "schema": {
                  "type": "string",
                  "description": "Link to access the newly created notification order.",
                  "format": ""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationOrderRequestResponseExt"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/orders/{id}/notifications/sms": {
      "get": {
        "tags": [
          "Deprecated"
        ],
        "summary": "Get SMS notifications",
        "description": "Endpoint for retrieving the send status of all SMS notifications generated by a notification order.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the notification order for which notifications are to be retrieved.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Indicates a missing, invalid or expired authorization header."
          },
          "403": {
            "description": "Indicates missing or invalid scope or Platform Access Token."
          },
          "200": {
            "description": "The SMS notifications were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsNotificationSummaryExt"
                }
              }
            }
          },
          "404": {
            "description": "No order matching the provided ID was found."
          }
        },
        "deprecated": true
      }
    },
    "/future/shipment/feed": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Retrieve an array of order status change history.",
        "parameters": [
          {
            "name": "Seq",
            "in": "query",
            "description": "The sequence number to start fetching status feed entries from",
            "schema": {
              "maximum": 9223372036854775807,
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "The number of items to return in one page. The default value is set by the API",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Caller is unauthorized"
          },
          "403": {
            "description": "Caller is not authorized to access the requested resource"
          },
          "499": {
            "description": "The operation was cancelled by the caller"
          },
          "200": {
            "description": "Successfully retrieved status feed entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatusFeedExt"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DialogportenIdentifiersExt": {
        "type": "object",
        "properties": {
          "dialogId": {
            "type": "string",
            "description": "Gets or sets the identifier for a specific dialog within Dialogporten.",
            "nullable": true
          },
          "transmissionId": {
            "type": "string",
            "description": "Gets or sets the identifier for a specific transmission within Dialogporten.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents unique identifiers for dialogs and transmissions within Dialogporten."
      },
      "EmailNotificationOrderRequestExt": {
        "required": [
          "body",
          "recipients",
          "subject"
        ],
        "type": "object",
        "properties": {
          "sendersReference": {
            "type": "string",
            "description": "Gets or sets the sender's reference identifier.",
            "nullable": true
          },
          "requestedSendTime": {
            "type": "string",
            "description": "Gets or sets the earliest date and time when the notification should be delivered.",
            "format": "date-time"
          },
          "conditionEndpoint": {
            "type": "string",
            "description": "Gets or sets a URI endpoint that can determine whether the notification should be sent.",
            "format": "uri",
            "nullable": true
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientExt"
            },
            "description": "Gets or sets the list of recipients."
          },
          "ignoreReservation": {
            "type": "boolean",
            "description": "Gets or sets whether notifications generated by this order should ignore KRR reservations.",
            "nullable": true
          },
          "resourceId": {
            "type": "string",
            "description": "Gets or sets the ID of the resource that the notification is related to.",
            "nullable": true
          },
          "subject": {
            "minLength": 1,
            "type": "string",
            "description": "Gets or sets the subject of the email"
          },
          "body": {
            "minLength": 1,
            "type": "string",
            "description": "Gets or sets the body of the email"
          },
          "contentType": {
            "enum": [
              "Plain",
              "Html"
            ],
            "type": "string",
            "description": "Gets or sets the content type of the email",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Class representing an email notification order request"
      },
      "EmailNotificationStatusExt": {
        "type": "object",
        "properties": {
          "links": {
            "$ref": "#/components/schemas/NotificationResourceLinksExt"
          },
          "generated": {
            "type": "integer",
            "description": "Gets or sets the number of generated notifications",
            "format": "int32"
          },
          "succeeded": {
            "type": "integer",
            "description": "Gets or sets the number of succeeeded notifications",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "A class representing a status overview for email notifications"
      },
      "EmailNotificationSummaryExt": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "The order id",
            "format": "uuid"
          },
          "sendersReference": {
            "type": "string",
            "description": "The senders reference",
            "nullable": true
          },
          "generated": {
            "type": "integer",
            "description": "The number of generated email notifications",
            "format": "int32"
          },
          "succeeded": {
            "type": "integer",
            "description": "The number of email notifications that were sent successfully",
            "format": "int32"
          },
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailNotificationWithResultExt"
            },
            "description": "A list of notifications with send result",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A class representing an email notification summary"
      },
      "EmailNotificationWithResultExt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The notification id",
            "format": "uuid"
          },
          "succeeded": {
            "type": "boolean",
            "description": "Boolean indicating if the sending of the notification was successful"
          },
          "recipient": {
            "$ref": "#/components/schemas/RecipientExt"
          },
          "sendStatus": {
            "$ref": "#/components/schemas/StatusExt"
          }
        },
        "additionalProperties": false,
        "description": "EmailNotificationWithResultExt class"
      },
      "EmailSendingOptionsExt": {
        "required": [
          "body",
          "subject"
        ],
        "type": "object",
        "properties": {
          "senderEmailAddress": {
            "type": "string",
            "description": "Gets or sets the sender's email address.",
            "nullable": true
          },
          "subject": {
            "minLength": 1,
            "type": "string",
            "description": "Gets or sets the subject line of the email."
          },
          "body": {
            "minLength": 1,
            "type": "string",
            "description": "Gets or sets the main body content of the email."
          },
          "contentType": {
            "enum": [
              "Plain",
              "Html"
            ],
            "type": "string",
            "description": "Gets or sets the content type (plain text or HTML) of the email.",
            "default": "Plain"
          },
          "sendingTimePolicy": {
            "enum": [
              "Anytime",
              "Daytime"
            ],
            "type": "string",
            "description": "Gets or sets the policy defining when the email should be sent.",
            "default": "Anytime"
          }
        },
        "additionalProperties": false,
        "description": "Defines email configuration settings used in notification order requests."
      },
      "EmailTemplateExt": {
        "type": "object",
        "properties": {
          "fromAddress": {
            "type": "string",
            "description": "Gets the from adress of emails created by the template",
            "nullable": true
          },
          "subject": {
            "type": "string",
            "description": "Gets the subject of emails created by the template",
            "nullable": true
          },
          "body": {
            "type": "string",
            "description": "Gets the body of emails created by the template",
            "nullable": true
          },
          "contentType": {
            "enum": [
              "Plain",
              "Html"
            ],
            "type": "string",
            "description": "Gets the content type of emails created by the template"
          }
        },
        "additionalProperties": false,
        "description": "Template for an email notification"
      },
      "IDeliveryManifestExt": {
        "type": "object",
        "properties": {
          "status": {
            "enum": [
              "Order_Registered",
              "Order_Processing",
              "Order_Completed",
              "Order_SendConditionNotMet",
              "Order_Cancelled",
              "Order_Processed",
              "SMS_New",
              "SMS_Sending",
              "SMS_Accepted",
              "SMS_Delivered",
              "SMS_Failed",
              "SMS_Failed_InvalidRecipient",
              "SMS_Failed_RecipientReserved",
              "SMS_Failed_BarredReceiver",
              "SMS_Failed_Deleted",
              "SMS_Failed_Expired",
              "SMS_Failed_Undelivered",
              "SMS_Failed_RecipientNotIdentified",
              "SMS_Failed_Rejected",
              "SMS_Failed_TTL",
              "Email_New",
              "Email_Sending",
              "Email_Succeeded",
              "Email_Delivered",
              "Email_Failed",
              "Email_Failed_RecipientReserved",
              "Email_Failed_RecipientNotIdentified",
              "Email_Failed_InvalidFormat",
              "Email_Failed_SuppressedRecipient",
              "Email_Failed_TransientError",
              "Email_Failed_Bounced",
              "Email_Failed_FilteredSpam",
              "Email_Failed_Quarantined",
              "Email_Failed_TTL"
            ],
            "type": "string",
            "description": "Gets the current lifecycle status of the entity.",
            "readOnly": true
          },
          "lastUpdate": {
            "type": "string",
            "description": "Gets the date and time when the status was last updated.",
            "format": "date-time",
            "readOnly": true
          },
          "destination": {
            "type": "string",
            "description": "Gets the destination address where the deliverable entity is intended to be sent.",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false,
        "description": "Represents standardized destination and status information for trackable entities within the notification system."
      },
      "InstantEmailContentExt": {
        "required": [
          "body",
          "subject"
        ],
        "type": "object",
        "properties": {
          "subject": {
            "minLength": 1,
            "type": "string",
            "description": "The subject of the email."
          },
          "body": {
            "minLength": 1,
            "type": "string",
            "description": "The body content of the email."
          },
          "senderEmailAddress": {
            "type": "string",
            "description": "The sender's email address.",
            "nullable": true
          },
          "contentType": {
            "enum": [
              "Plain",
              "Html"
            ],
            "type": "string",
            "description": "The content type of the body (Plain or Html).",
            "default": "Plain"
          }
        },
        "additionalProperties": false,
        "description": "Represents the content and sender information for an email."
      },
      "InstantEmailDetailsExt": {
        "required": [
          "emailAddress",
          "emailSettings"
        ],
        "type": "object",
        "properties": {
          "emailAddress": {
            "minLength": 1,
            "type": "string",
            "description": "The recipient's email address."
          },
          "emailSettings": {
            "$ref": "#/components/schemas/InstantEmailContentExt"
          }
        },
        "additionalProperties": false,
        "description": "Represents email details for an instant email including recipient and content."
      },
      "InstantEmailNotificationOrderRequestExt": {
        "required": [
          "idempotencyId",
          "recipientEmail"
        ],
        "type": "object",
        "properties": {
          "idempotencyId": {
            "minLength": 1,
            "type": "string",
            "description": "The unique identifier used to ensure the same notification is not processed multiple times."
          },
          "sendersReference": {
            "type": "string",
            "description": "The reference identifier assigned by the sender for tracking purposes.",
            "nullable": true
          },
          "recipientEmail": {
            "$ref": "#/components/schemas/InstantEmailDetailsExt"
          }
        },
        "additionalProperties": false,
        "description": "Represents a request to send a notification immediately to a single recipient."
      },
      "InstantNotificationOrderRequestExt": {
        "required": [
          "idempotencyId",
          "recipient"
        ],
        "type": "object",
        "properties": {
          "idempotencyId": {
            "minLength": 1,
            "type": "string",
            "description": "The unique identifier used to ensure the same notification is not processed multiple times."
          },
          "sendersReference": {
            "type": "string",
            "description": "The reference identifier assigned by the sender for tracking purposes.",
            "nullable": true
          },
          "recipient": {
            "$ref": "#/components/schemas/InstantNotificationRecipientExt"
          }
        },
        "additionalProperties": false,
        "description": "Represents a request to send a notification immediately to a single recipient."
      },
      "InstantNotificationOrderResponseExt": {
        "required": [
          "notification",
          "notificationOrderId"
        ],
        "type": "object",
        "properties": {
          "notificationOrderId": {
            "type": "string",
            "description": "The unique identifier for the notification order chain.",
            "format": "uuid"
          },
          "notification": {
            "$ref": "#/components/schemas/NotificationOrderChainShipmentExt"
          }
        },
        "additionalProperties": false,
        "description": "Represents the response model returned after processing a request to send an instant notification to a single recipient."
      },
      "InstantNotificationRecipientExt": {
        "required": [
          "recipientSms"
        ],
        "type": "object",
        "properties": {
          "recipientSms": {
            "$ref": "#/components/schemas/ShortMessageDeliveryDetailsExt"
          }
        },
        "additionalProperties": false,
        "description": "Represents recipient information for an urgent notification delivery."
      },
      "InstantSmsNotificationOrderRequestExt": {
        "required": [
          "idempotencyId",
          "recipientSms"
        ],
        "type": "object",
        "properties": {
          "idempotencyId": {
            "minLength": 1,
            "type": "string",
            "description": "The unique identifier used to ensure the same notification is not processed multiple times."
          },
          "sendersReference": {
            "type": "string",
            "description": "The reference identifier assigned by the sender for tracking purposes.",
            "nullable": true
          },
          "recipientSms": {
            "$ref": "#/components/schemas/ShortMessageDeliveryDetailsExt"
          }
        },
        "additionalProperties": false,
        "description": "Represents a request to send an SMS notification immediately to a single recipient."
      },
      "NotificationDeliveryManifestExt": {
        "required": [
          "lastUpdate",
          "recipients",
          "shipmentId",
          "status",
          "type"
        ],
        "type": "object",
        "properties": {
          "shipmentId": {
            "type": "string",
            "format": "uuid"
          },
          "sendersReference": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "enum": [
              "Order_Registered",
              "Order_Processing",
              "Order_Completed",
              "Order_SendConditionNotMet",
              "Order_Cancelled",
              "Order_Processed",
              "SMS_New",
              "SMS_Sending",
              "SMS_Accepted",
              "SMS_Delivered",
              "SMS_Failed",
              "SMS_Failed_InvalidRecipient",
              "SMS_Failed_RecipientReserved",
              "SMS_Failed_BarredReceiver",
              "SMS_Failed_Deleted",
              "SMS_Failed_Expired",
              "SMS_Failed_Undelivered",
              "SMS_Failed_RecipientNotIdentified",
              "SMS_Failed_Rejected",
              "SMS_Failed_TTL",
              "Email_New",
              "Email_Sending",
              "Email_Succeeded",
              "Email_Delivered",
              "Email_Failed",
              "Email_Failed_RecipientReserved",
              "Email_Failed_RecipientNotIdentified",
              "Email_Failed_InvalidFormat",
              "Email_Failed_SuppressedRecipient",
              "Email_Failed_TransientError",
              "Email_Failed_Bounced",
              "Email_Failed_FilteredSpam",
              "Email_Failed_Quarantined",
              "Email_Failed_TTL"
            ],
            "type": "string",
            "description": "Represents the lifecycle status of orders and individual notifications."
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IDeliveryManifestExt"
            },
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the root tracking entity for a notification shipment that\ncan be sent to multiple recipients through various communication channels."
      },
      "NotificationOrderChainReceiptExt": {
        "required": [
          "shipmentId"
        ],
        "type": "object",
        "properties": {
          "shipmentId": {
            "type": "string",
            "description": "Gets or sets the unique identifier for this shipment.",
            "format": "uuid"
          },
          "sendersReference": {
            "type": "string",
            "description": "Gets or sets the sender's reference identifier.",
            "nullable": true
          },
          "reminders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationOrderChainShipmentExt"
            },
            "description": "Gets or sets the reminders associated with this notification order.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the complete receipt for a notification order chain creation operation."
      },
      "NotificationOrderChainRequestExt": {
        "required": [
          "idempotencyId",
          "recipient"
        ],
        "type": "object",
        "properties": {
          "sendersReference": {
            "type": "string",
            "description": "Gets or sets the sender's reference identifier.",
            "nullable": true
          },
          "requestedSendTime": {
            "type": "string",
            "description": "Gets or sets the earliest date and time when the notification should be delivered.",
            "format": "date-time"
          },
          "conditionEndpoint": {
            "type": "string",
            "description": "Gets or sets a URI endpoint that can determine whether the notification should be sent.",
            "format": "uri",
            "nullable": true
          },
          "dialogportenAssociation": {
            "$ref": "#/components/schemas/DialogportenIdentifiersExt"
          },
          "idempotencyId": {
            "minLength": 1,
            "type": "string",
            "description": "Gets or sets the idempotency identifier defined by the sender."
          },
          "recipient": {
            "$ref": "#/components/schemas/NotificationRecipientExt"
          },
          "reminders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationReminderExt"
            },
            "description": "Gets or sets a list of reminders that may be triggered under certain conditions after the initial notification has been processed.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents a contract between API clients and the server, defining the structure of notification order\nrequests with reminders that can be submitted to the system.\nInherits the scheduling options from Altinn.Notifications.Models.NotificationOrderBaseExt."
      },
      "NotificationOrderChainResponseExt": {
        "required": [
          "notification",
          "notificationOrderId"
        ],
        "type": "object",
        "properties": {
          "notificationOrderId": {
            "type": "string",
            "description": "Gets or sets the unique identifier for the notification order chain.",
            "format": "uuid"
          },
          "notification": {
            "$ref": "#/components/schemas/NotificationOrderChainReceiptExt"
          }
        },
        "additionalProperties": false,
        "description": "Represents the response returned after successfully creating a notification order chain."
      },
      "NotificationOrderChainShipmentExt": {
        "required": [
          "shipmentId"
        ],
        "type": "object",
        "properties": {
          "shipmentId": {
            "type": "string",
            "description": "Gets or sets the unique identifier for this shipment.",
            "format": "uuid"
          },
          "sendersReference": {
            "type": "string",
            "description": "Gets or sets the sender's reference identifier.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the base information for a shipment in a notification order chain."
      },
      "NotificationOrderExt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Gets or sets the id of the notification order",
            "nullable": true
          },
          "sendersReference": {
            "type": "string",
            "description": "Gets or sets the senders reference of the notification",
            "nullable": true
          },
          "requestedSendTime": {
            "type": "string",
            "description": "Gets or sets the requested send time of the notification",
            "format": "date-time"
          },
          "creator": {
            "type": "string",
            "description": "Gets or sets the short name of the creator of the notification order",
            "nullable": true
          },
          "created": {
            "type": "string",
            "description": "Gets or sets the date and time of when the notification order was created",
            "format": "date-time"
          },
          "notificationChannel": {
            "enum": [
              "Email",
              "Sms",
              "EmailPreferred",
              "SmsPreferred",
              "EmailAndSms"
            ],
            "type": "string",
            "description": "Gets or sets the preferred notification channel of the notification order"
          },
          "ignoreReservation": {
            "type": "boolean",
            "description": "Gets or sets whether notifications generated by this order should ignore KRR reservations",
            "nullable": true
          },
          "resourceId": {
            "type": "string",
            "description": "Gets or sets the id of the resource that the notification is related to",
            "nullable": true
          },
          "conditionEndpoint": {
            "type": "string",
            "description": "Gets or sets the condition endpoint used to check the send condition",
            "format": "uri",
            "nullable": true
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientExt"
            },
            "description": "Gets or sets the list of recipients",
            "nullable": true
          },
          "emailTemplate": {
            "$ref": "#/components/schemas/EmailTemplateExt"
          },
          "smsTemplate": {
            "$ref": "#/components/schemas/SmsTemplateExt"
          },
          "links": {
            "$ref": "#/components/schemas/OrderResourceLinksExt"
          }
        },
        "additionalProperties": false,
        "description": "A class representing a registered notification order."
      },
      "NotificationOrderListExt": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Gets or sets the number of orders in the list",
            "format": "int32"
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationOrderExt"
            },
            "description": "Gets or sets the list of notification orders",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A class representing a list of notification order."
      },
      "NotificationOrderRequestExt": {
        "required": [
          "recipients"
        ],
        "type": "object",
        "properties": {
          "sendersReference": {
            "type": "string",
            "description": "Gets or sets the sender's reference identifier.",
            "nullable": true
          },
          "requestedSendTime": {
            "type": "string",
            "description": "Gets or sets the earliest date and time when the notification should be delivered.",
            "format": "date-time"
          },
          "conditionEndpoint": {
            "type": "string",
            "description": "Gets or sets a URI endpoint that can determine whether the notification should be sent.",
            "format": "uri",
            "nullable": true
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientExt"
            },
            "description": "Gets or sets the list of recipients."
          },
          "ignoreReservation": {
            "type": "boolean",
            "description": "Gets or sets whether notifications generated by this order should ignore KRR reservations.",
            "nullable": true
          },
          "resourceId": {
            "type": "string",
            "description": "Gets or sets the ID of the resource that the notification is related to.",
            "nullable": true
          },
          "notificationChannel": {
            "enum": [
              "Email",
              "Sms",
              "EmailPreferred",
              "SmsPreferred",
              "EmailAndSms"
            ],
            "type": "string",
            "description": "Gets or sets the notification channel",
            "nullable": true
          },
          "emailTemplate": {
            "$ref": "#/components/schemas/EmailTemplateExt"
          },
          "smsTemplate": {
            "$ref": "#/components/schemas/SmsTemplateExt"
          }
        },
        "additionalProperties": false,
        "description": "Class representing a notification order request"
      },
      "NotificationOrderRequestResponseExt": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "The order id",
            "format": "uuid",
            "nullable": true
          },
          "recipientLookup": {
            "$ref": "#/components/schemas/RecipientLookupResultExt"
          }
        },
        "additionalProperties": false,
        "description": "A class representing a container for an order id."
      },
      "NotificationOrderWithStatusExt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Gets or sets the id of the notification order",
            "nullable": true
          },
          "sendersReference": {
            "type": "string",
            "description": "Gets or sets the senders reference of the notification",
            "nullable": true
          },
          "requestedSendTime": {
            "type": "string",
            "description": "Gets or sets the requested send time of the notification",
            "format": "date-time"
          },
          "creator": {
            "type": "string",
            "description": "Gets or sets the short name of the creator of the notification order",
            "nullable": true
          },
          "created": {
            "type": "string",
            "description": "Gets or sets the date and time of when the notification order was created",
            "format": "date-time"
          },
          "notificationChannel": {
            "enum": [
              "Email",
              "Sms",
              "EmailPreferred",
              "SmsPreferred",
              "EmailAndSms"
            ],
            "type": "string",
            "description": "Gets or sets the preferred notification channel of the notification order"
          },
          "ignoreReservation": {
            "type": "boolean",
            "description": "Gets or sets whether notifications generated by this order should ignore KRR reservations",
            "nullable": true
          },
          "resourceId": {
            "type": "string",
            "description": "Gets or sets the id of the resource that the notification is related to",
            "nullable": true
          },
          "conditionEndpoint": {
            "type": "string",
            "description": "Gets or sets the condition endpoint used to check the send condition",
            "format": "uri",
            "nullable": true
          },
          "processingStatus": {
            "$ref": "#/components/schemas/StatusExt"
          },
          "notificationsStatusSummary": {
            "$ref": "#/components/schemas/NotificationsStatusSummaryExt"
          }
        },
        "additionalProperties": false,
        "description": "A class representing a registered notification order with status information."
      },
      "NotificationRecipientExt": {
        "type": "object",
        "properties": {
          "recipientEmail": {
            "$ref": "#/components/schemas/RecipientEmailExt"
          },
          "recipientSms": {
            "$ref": "#/components/schemas/RecipientSmsExt"
          },
          "recipientPerson": {
            "$ref": "#/components/schemas/RecipientPersonExt"
          },
          "recipientOrganization": {
            "$ref": "#/components/schemas/RecipientOrganizationExt"
          },
          "recipientExternalIdentity": {
            "$ref": "#/components/schemas/RecipientExternalIdentityExt"
          }
        },
        "additionalProperties": false,
        "description": "Defines a container for specifying the recipient of a notification order."
      },
      "RecipientExternalIdentityExt": {
        "required": [
          "channelSchema",
          "externalIdentity"
        ],
        "type": "object",
        "properties": {
          "emailSettings": {
            "$ref": "#/components/schemas/EmailSendingOptionsExt"
          },
          "smsSettings": {
            "$ref": "#/components/schemas/SmsSendingOptionsExt"
          },
          "externalIdentity": {
            "minLength": 1,
            "type": "string",
            "description": "The external identity of the recipient in URN format."
          },
          "resourceId": {
            "type": "string",
            "description": "Gets or sets an optional resource identifier for authorization and auditing purposes.",
            "nullable": true
          },
          "channelSchema": {
            "enum": [
              "Email",
              "Sms",
              "EmailPreferred",
              "SmsPreferred",
              "EmailAndSms"
            ],
            "type": "string",
            "description": "The channel scheme for delivering the notification.",
            "default": "Email"
          }
        },
        "additionalProperties": false,
        "description": "Represents a notification recipient identified by an external identity."
      },
      "NotificationReminderExt": {
        "required": [
          "recipient"
        ],
        "type": "object",
        "properties": {
          "sendersReference": {
            "type": "string",
            "description": "Gets or sets the sender's reference for this reminder.",
            "nullable": true
          },
          "conditionEndpoint": {
            "type": "string",
            "description": "Gets or sets the condition endpoint used to determine if the reminder should be sent.",
            "format": "uri",
            "nullable": true
          },
          "delayDays": {
            "type": "integer",
            "description": "Gets or sets the number of days to delay this reminder.",
            "format": "int32",
            "default": 1,
            "nullable": true
          },
          "requestedSendTime": {
            "type": "string",
            "description": "Gets or sets the earliest date and time when the reminder should be delivered.",
            "format": "date-time",
            "nullable": true
          },
          "recipient": {
            "$ref": "#/components/schemas/NotificationRecipientExt"
          }
        },
        "additionalProperties": false,
        "description": "Represents a reminder notification that can be scheduled to follow an initial notification order."
      },
      "NotificationResourceLinksExt": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "Gets or sets the self link",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A class representing a set of resource links of a notification"
      },
      "NotificationsStatusSummaryExt": {
        "type": "object",
        "properties": {
          "email": {
            "$ref": "#/components/schemas/EmailNotificationStatusExt"
          },
          "sms": {
            "$ref": "#/components/schemas/SmsNotificationStatusExt"
          }
        },
        "additionalProperties": false,
        "description": "A class representing a summary of status overviews of all notification channels"
      },
      "OrderResourceLinksExt": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "Gets or sets the self link",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "Gets or sets the status link",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A class representing a set of resource links of a notification order."
      },
      "RecipientEmailExt": {
        "required": [
          "emailAddress",
          "emailSettings"
        ],
        "type": "object",
        "properties": {
          "emailAddress": {
            "minLength": 1,
            "type": "string",
            "description": "Gets or sets the email address of the intended recipient."
          },
          "emailSettings": {
            "$ref": "#/components/schemas/EmailSendingOptionsExt"
          }
        },
        "additionalProperties": false,
        "description": "Defines a request for sending an email notification to a specific email address."
      },
      "RecipientExt": {
        "type": "object",
        "properties": {
          "emailAddress": {
            "type": "string",
            "description": "Gets or sets the email address of the recipient.",
            "nullable": true
          },
          "mobileNumber": {
            "type": "string",
            "description": "Gets or sets the mobile number of the recipient.",
            "nullable": true
          },
          "organizationNumber": {
            "type": "string",
            "description": "Gets or sets the organization number of the recipient.",
            "nullable": true
          },
          "nationalIdentityNumber": {
            "type": "string",
            "description": "Gets or sets the national identity number of the recipient.",
            "nullable": true
          },
          "isReserved": {
            "type": "boolean",
            "description": "Gets or sets a value indicating whether the recipient is reserved from digital communication.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Class representing a notification recipient."
      },
      "RecipientLookupResultExt": {
        "type": "object",
        "properties": {
          "status": {
            "enum": [
              "Success",
              "PartialSuccess",
              "Failed"
            ],
            "type": "string",
            "description": "The lookup status"
          },
          "isReserved": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of id numbers for the recipients that are reserved",
            "nullable": true
          },
          "missingContact": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of id numbers for the recipients where no contact points were identified",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Class describing a summary of recipient lookup for a notification order"
      },
      "RecipientOrganizationExt": {
        "required": [
          "channelSchema",
          "orgNumber"
        ],
        "type": "object",
        "properties": {
          "emailSettings": {
            "$ref": "#/components/schemas/EmailSendingOptionsExt"
          },
          "smsSettings": {
            "$ref": "#/components/schemas/SmsSendingOptionsExt"
          },
          "orgNumber": {
            "minLength": 1,
            "type": "string",
            "description": "Gets or sets the organization number that identifies the recipient."
          },
          "resourceId": {
            "type": "string",
            "description": "Gets or sets an optional resource identifier for authorization and auditing purposes.",
            "nullable": true
          },
          "channelSchema": {
            "enum": [
              "Email",
              "Sms",
              "EmailPreferred",
              "SmsPreferred",
              "EmailAndSms"
            ],
            "type": "string",
            "description": "Gets or sets the required channel scheme for delivering the notification."
          }
        },
        "additionalProperties": false,
        "description": "Defines a model for sending notifications to an organization's contact person."
      },
      "RecipientPersonExt": {
        "required": [
          "channelSchema",
          "nationalIdentityNumber"
        ],
        "type": "object",
        "properties": {
          "emailSettings": {
            "$ref": "#/components/schemas/EmailSendingOptionsExt"
          },
          "smsSettings": {
            "$ref": "#/components/schemas/SmsSendingOptionsExt"
          },
          "nationalIdentityNumber": {
            "minLength": 1,
            "type": "string",
            "description": "Gets or sets the national identity number of the recipient."
          },
          "resourceId": {
            "type": "string",
            "description": "Gets or sets an optional resource identifier for authorization and auditing purposes.",
            "nullable": true
          },
          "channelSchema": {
            "enum": [
              "Email",
              "Sms",
              "EmailPreferred",
              "SmsPreferred",
              "EmailAndSms"
            ],
            "type": "string",
            "description": "Gets or sets the required channel scheme for delivering the notification.",
            "default": "EmailPreferred"
          },
          "ignoreReservation": {
            "type": "boolean",
            "description": "Gets or sets a value indicating whether to bypass the recipient's reservation against electronic communication."
          }
        },
        "additionalProperties": false,
        "description": "Defines a model for sending notifications to a person identified by their national identity number."
      },
      "RecipientSmsExt": {
        "required": [
          "phoneNumber",
          "smsSettings"
        ],
        "type": "object",
        "properties": {
          "phoneNumber": {
            "minLength": 1,
            "type": "string",
            "description": "Gets or sets the recipient's phone number in international format."
          },
          "smsSettings": {
            "$ref": "#/components/schemas/SmsSendingOptionsExt"
          }
        },
        "additionalProperties": false,
        "description": "Represents the model for sending an SMS to a specific mobile number."
      },
      "ShortMessageContentExt": {
        "required": [
          "body"
        ],
        "type": "object",
        "properties": {
          "sender": {
            "type": "string",
            "description": "The sender identifier displayed in the recipient's SMS message.",
            "nullable": true
          },
          "body": {
            "minLength": 1,
            "type": "string",
            "description": "The text content of the SMS message to be delivered to the recipient."
          }
        },
        "additionalProperties": false,
        "description": "Represents the content and sender information for an SMS (Short Message Service) message."
      },
      "ShortMessageDeliveryDetailsExt": {
        "required": [
          "phoneNumber",
          "smsSettings",
          "timeToLiveInSeconds"
        ],
        "type": "object",
        "properties": {
          "phoneNumber": {
            "minLength": 1,
            "type": "string",
            "description": "The recipient's phone number in international format."
          },
          "timeToLiveInSeconds": {
            "type": "integer",
            "description": "The time-to-live duration, specified in seconds.",
            "format": "int32"
          },
          "smsSettings": {
            "$ref": "#/components/schemas/ShortMessageContentExt"
          }
        },
        "additionalProperties": false,
        "description": "Represents delivery details for an SMS including recipient, content, and delivery parameters."
      },
      "SmsNotificationOrderRequestExt": {
        "required": [
          "body",
          "recipients"
        ],
        "type": "object",
        "properties": {
          "sendersReference": {
            "type": "string",
            "description": "Gets or sets the sender's reference identifier.",
            "nullable": true
          },
          "requestedSendTime": {
            "type": "string",
            "description": "Gets or sets the earliest date and time when the notification should be delivered.",
            "format": "date-time"
          },
          "conditionEndpoint": {
            "type": "string",
            "description": "Gets or sets a URI endpoint that can determine whether the notification should be sent.",
            "format": "uri",
            "nullable": true
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientExt"
            },
            "description": "Gets or sets the list of recipients."
          },
          "ignoreReservation": {
            "type": "boolean",
            "description": "Gets or sets whether notifications generated by this order should ignore KRR reservations.",
            "nullable": true
          },
          "resourceId": {
            "type": "string",
            "description": "Gets or sets the ID of the resource that the notification is related to.",
            "nullable": true
          },
          "senderNumber": {
            "type": "string",
            "description": "Gets or sets the sender number of the SMS.",
            "nullable": true
          },
          "body": {
            "minLength": 1,
            "type": "string",
            "description": "Gets or sets the body of the SMS."
          }
        },
        "additionalProperties": false,
        "description": "Class representing an SMS notification order request."
      },
      "SmsNotificationStatusExt": {
        "type": "object",
        "properties": {
          "links": {
            "$ref": "#/components/schemas/NotificationResourceLinksExt"
          },
          "generated": {
            "type": "integer",
            "description": "Gets or sets the number of generated notifications",
            "format": "int32"
          },
          "succeeded": {
            "type": "integer",
            "description": "Gets or sets the number of succeeeded notifications",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "A class representing a status overview for sms notifications"
      },
      "SmsNotificationSummaryExt": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "The order id",
            "format": "uuid"
          },
          "sendersReference": {
            "type": "string",
            "description": "The senders reference",
            "nullable": true
          },
          "generated": {
            "type": "integer",
            "description": "The number of generated sms notifications",
            "format": "int32"
          },
          "succeeded": {
            "type": "integer",
            "description": "The number of sms notifications that were sent successfully",
            "format": "int32"
          },
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SmsNotificationWithResultExt"
            },
            "description": "A list of notifications with send result",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A class representing an sms notification summary"
      },
      "SmsNotificationWithResultExt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The notification id",
            "format": "uuid"
          },
          "succeeded": {
            "type": "boolean",
            "description": "Boolean indicating if the sending of the notification was successful"
          },
          "recipient": {
            "$ref": "#/components/schemas/RecipientExt"
          },
          "sendStatus": {
            "$ref": "#/components/schemas/StatusExt"
          }
        },
        "additionalProperties": false,
        "description": "A class representing an sms notification with result"
      },
      "SmsSendingOptionsExt": {
        "required": [
          "body"
        ],
        "type": "object",
        "properties": {
          "sender": {
            "type": "string",
            "description": "Gets or sets the sender identifier displayed in the recipient's SMS message.",
            "nullable": true
          },
          "body": {
            "minLength": 1,
            "type": "string",
            "description": "Gets or sets the text content of the SMS message."
          },
          "sendingTimePolicy": {
            "enum": [
              "Anytime",
              "Daytime"
            ],
            "type": "string",
            "description": "Gets or sets the policy controlling when the SMS should be delivered.",
            "default": "Daytime"
          }
        },
        "additionalProperties": false,
        "description": "Defines SMS configuration settings used in notification order requests."
      },
      "SmsTemplateExt": {
        "type": "object",
        "properties": {
          "senderNumber": {
            "type": "string",
            "description": "Gets the number from which the SMS is created by the template",
            "nullable": true
          },
          "body": {
            "type": "string",
            "description": "Gets the body of SMSs created by the template",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Template for an SMS notification"
      },
      "StatusExt": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Gets or sets the status",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Gets or sets the description",
            "nullable": true
          },
          "lastUpdate": {
            "type": "string",
            "description": "Gets or sets the date time of when the status was last updated",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "A class representing a status summary"
      },
      "StatusFeedExt": {
        "required": [
          "recipients",
          "sequenceNumber"
        ],
        "type": "object",
        "properties": {
          "shipmentId": {
            "type": "string",
            "description": "Gets the unique identifier for the shipment associated with this order status.",
            "format": "uuid"
          },
          "sendersReference": {
            "type": "string",
            "description": "Gets the sender's reference for the order, as provided by the client system.",
            "nullable": true
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusFeedRecipientExt"
            },
            "description": "Gets the list of recipients and their delivery status information for this order.",
            "nullable": true
          },
          "status": {
            "enum": [
              "Order_Registered",
              "Order_Processing",
              "Order_Completed",
              "Order_SendConditionNotMet",
              "Order_Cancelled",
              "Order_Processed",
              "SMS_New",
              "SMS_Sending",
              "SMS_Accepted",
              "SMS_Delivered",
              "SMS_Failed",
              "SMS_Failed_InvalidRecipient",
              "SMS_Failed_RecipientReserved",
              "SMS_Failed_BarredReceiver",
              "SMS_Failed_Deleted",
              "SMS_Failed_Expired",
              "SMS_Failed_Undelivered",
              "SMS_Failed_RecipientNotIdentified",
              "SMS_Failed_Rejected",
              "SMS_Failed_TTL",
              "Email_New",
              "Email_Sending",
              "Email_Succeeded",
              "Email_Delivered",
              "Email_Failed",
              "Email_Failed_RecipientReserved",
              "Email_Failed_RecipientNotIdentified",
              "Email_Failed_InvalidFormat",
              "Email_Failed_SuppressedRecipient",
              "Email_Failed_TransientError",
              "Email_Failed_Bounced",
              "Email_Failed_FilteredSpam",
              "Email_Failed_Quarantined",
              "Email_Failed_TTL"
            ],
            "type": "string",
            "description": "Gets the current lifecycle status of the order."
          },
          "lastUpdate": {
            "type": "string",
            "description": "Gets the date and time when the status was created.",
            "format": "date-time"
          },
          "shipmentType": {
            "type": "string",
            "description": "The type of shipment (e.g. Notification or Reminder)",
            "nullable": true
          },
          "sequenceNumber": {
            "type": "integer",
            "description": "The sequence number of the status feed",
            "format": "int64"
          }
        },
        "additionalProperties": false,
        "description": "Order status response object to represent a status feed entry"
      },
      "StatusFeedRecipientExt": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "description": "The recipient destination, supporting both email and SMS formats.",
            "nullable": true
          },
          "status": {
            "enum": [
              "Order_Registered",
              "Order_Processing",
              "Order_Completed",
              "Order_SendConditionNotMet",
              "Order_Cancelled",
              "Order_Processed",
              "SMS_New",
              "SMS_Sending",
              "SMS_Accepted",
              "SMS_Delivered",
              "SMS_Failed",
              "SMS_Failed_InvalidRecipient",
              "SMS_Failed_RecipientReserved",
              "SMS_Failed_BarredReceiver",
              "SMS_Failed_Deleted",
              "SMS_Failed_Expired",
              "SMS_Failed_Undelivered",
              "SMS_Failed_RecipientNotIdentified",
              "SMS_Failed_Rejected",
              "SMS_Failed_TTL",
              "Email_New",
              "Email_Sending",
              "Email_Succeeded",
              "Email_Delivered",
              "Email_Failed",
              "Email_Failed_RecipientReserved",
              "Email_Failed_RecipientNotIdentified",
              "Email_Failed_InvalidFormat",
              "Email_Failed_SuppressedRecipient",
              "Email_Failed_TransientError",
              "Email_Failed_Bounced",
              "Email_Failed_FilteredSpam",
              "Email_Failed_Quarantined",
              "Email_Failed_TTL"
            ],
            "type": "string",
            "description": "Gets the current status of the processing lifecycle."
          },
          "lastUpdate": {
            "type": "string",
            "description": "Gets the date and time of the last update.",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "Agnostic representation of the delivery manifest interface"
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          }
        },
        "additionalProperties": {}
      }
    }
  },
  "tags": [
    {
      "name": "Deprecated",
      "description": "Legacy endpoints. Still supported, but going forward please use '/future/*' endpoints instead."
    },
    {
      "name": "Order",
      "description": "Create notifications (queued processing)"
    },
    {
      "name": "Status",
      "description": "Get status/updates for notifications already ordered"
    },
    {
      "name": "Instant Orders",
      "description": "Create and send instant notifications to single recipients"
    }
  ]
}
