{
  "openapi": "3.0.4",
  "info": {
    "title": "Altinn.AccessManagement.Api.Metadata",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://platform.tt02.altinn.no/accessmanagement/api/v1",
      "description": "Integration Test"
    },
    {
      "url": "https://platform.altinn.no/accessmanagement/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/meta/info/accesspackages/search": {
      "get": {
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceProviderCode",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "searchInResources",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "typeName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PackageDtoSearchObject"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PackageDtoSearchObject"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PackageDtoSearchObject"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/accesspackages/export": {
      "get": {
        "tags": [
          "Packages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AreaGroupDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaGroupDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaGroupDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/accesspackages/group": {
      "get": {
        "tags": [
          "Packages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AreaGroupDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaGroupDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaGroupDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/accesspackages/group/{id}": {
      "get": {
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AreaGroupDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaGroupDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaGroupDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/accesspackages/group/{id}/areas": {
      "get": {
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/accesspackages/area/{id}": {
      "get": {
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/accesspackages/area/{id}/packages": {
      "get": {
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/accesspackages/package/{id}": {
      "get": {
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/accesspackages/package/urn/{urnValue}": {
      "get": {
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "urnValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/accesspackages/package/{id}/resources": {
      "get": {
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/roles/{id}": {
      "get": {
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/roles/packages": {
      "get": {
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeResources",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/roles/resources": {
      "get": {
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includePackageResources",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/roles/{id}/packages": {
      "get": {
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeResources",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/info/roles/{id}/resources": {
      "get": {
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includePackageResources",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDto"
                }
              }
            }
          }
        }
      }
    },
    "/meta/types/organization/subtypes": {
      "get": {
        "tags": [
          "Types"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubTypeDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubTypeDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubTypeDto"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AreaDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "urn": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "iconUrl": {
            "type": "string",
            "nullable": true
          },
          "packages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageDto"
            },
            "nullable": true
          },
          "group": {
            "$ref": "#/components/schemas/AreaGroupDto"
          }
        },
        "additionalProperties": false
      },
      "AreaGroupDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "urn": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "areas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AreaDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PackageDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "urn": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isDelegable": {
            "type": "boolean"
          },
          "isAssignable": {
            "type": "boolean"
          },
          "isResourcePolicyAvailable": {
            "type": "boolean"
          },
          "area": {
            "$ref": "#/components/schemas/AreaDto"
          },
          "type": {
            "$ref": "#/components/schemas/TypeDto"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PackageDtoSearchObject": {
        "type": "object",
        "properties": {
          "object": {
            "$ref": "#/components/schemas/PackageDto"
          },
          "score": {
            "type": "number",
            "format": "double"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchField"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ProviderDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "refId": {
            "type": "string",
            "nullable": true
          },
          "logoUrl": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "typeId": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/ProviderTypeDto"
          }
        },
        "additionalProperties": false
      },
      "ProviderTypeDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ResourceDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "providerId": {
            "type": "string",
            "format": "uuid"
          },
          "typeId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "refId": {
            "type": "string",
            "nullable": true
          },
          "provider": {
            "$ref": "#/components/schemas/ProviderDto"
          },
          "type": {
            "$ref": "#/components/schemas/ResourceTypeDto"
          }
        },
        "additionalProperties": false
      },
      "ResourceTypeDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RoleDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isKeyRole": {
            "type": "boolean"
          },
          "urn": {
            "type": "string",
            "nullable": true
          },
          "legacyRoleCode": {
            "type": "string",
            "nullable": true
          },
          "legacyUrn": {
            "type": "string",
            "nullable": true
          },
          "isResourcePolicyAvailable": {
            "type": "boolean"
          },
          "provider": {
            "$ref": "#/components/schemas/ProviderDto"
          }
        },
        "additionalProperties": false
      },
      "SearchField": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "score": {
            "type": "number",
            "format": "double"
          },
          "words": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchWord"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchWord": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "nullable": true
          },
          "lowercaseContent": {
            "type": "string",
            "nullable": true
          },
          "isMatch": {
            "type": "boolean"
          },
          "score": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "SubTypeDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "typeId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/TypeDto"
          }
        },
        "additionalProperties": false
      },
      "TypeDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "providerId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "provider": {
            "$ref": "#/components/schemas/ProviderDto"
          }
        },
        "additionalProperties": false
      }
    }
  }
}