{
  "openapi": "3.1.0",
  "info": {
    "title": "Altinn3.Broker",
    "version": "1.1.0",
    "description": "API for Altinn Broker functionality."
  },
  "servers": [
    {
      "url": "https://platform.tt02.altinn.no",
      "description": "TT02"
    }
  ],
  "webhooks": {
    "no.altinn.broker.filetransferinitialized": {
      "post": {
        "requestBody": {
          "description": "Information about a new file transfer",
          "content": {
            "application/cloudevents+json": {
              "schema": {
                "$ref": "#/components/schemas/CloudEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      },
      "no.altinn.broker.filepurged": {
        "post": {
          "requestBody": {
            "description": "The file has been purged from Broker",
            "content": {
              "application/cloudevents+json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudEvent"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Ok"
            }
          }
        }
      },
      "no.altinn.broker.fileneverconfirmeddownloaded": {
        "post": {
          "requestBody": {
            "description": "File was never confirmed downloaded by a recipient",
            "content": {
              "application/cloudevents+json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudEvent"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Ok"
            }
          }
        }
      }
    },
    "no.altinn.broker.uploadprocessing": {
      "post": {
        "requestBody": {
          "description": "File has been uploaded and is being processed",
          "content": {
            "application/cloudevents+json": {
              "schema": {
                "$ref": "#/components/schemas/CloudEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    },
    "no.altinn.broker.published": {
      "post": {
        "requestBody": {
          "description": "File has finished processing and is ready for download",
          "content": {
            "application/cloudevents+json": {
              "schema": {
                "$ref": "#/components/schemas/CloudEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    },
    "no.altinn.broker.uploadfailed": {
      "post": {
        "requestBody": {
          "description": "An upload failed either during upload or processing",
          "content": {
            "application/cloudevents+json": {
              "schema": {
                "$ref": "#/components/schemas/CloudEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    },
    "no.altinn.broker.downloadconfirmed": {
      "post": {
        "requestBody": {
          "description": "A recipient confirmed their download",
          "content": {
            "application/cloudevents+json": {
              "schema": {
                "$ref": "#/components/schemas/CloudEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    },
    "no.altinn.broker.allconfirmeddownloaded": {
      "post": {
        "requestBody": {
          "description": "All recipients have confirmed the download",
          "content": {
            "application/cloudevents+json": {
              "schema": {
                "$ref": "#/components/schemas/CloudEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    }
  },
  "paths": {
    "/broker/api/v1/filetransfer": {
      "post": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Initialize a new fileTransfer",
        "description": "This endpoint initializes a new file for processing.",
        "operationId": "InitializeFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileTransferInitalizeExt"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully initialized the fileTransfer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "List files available for the caller",
        "description": "This endpoint retrieves a list of files available given for the caller given the query parameters.",
        "operationId": "List files",
        "parameters": [
          {
            "name": "resourceId",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/FileTransferStatusExt"
            }
          },
          {
            "name": "recipientStatus",
            "in": "query",
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/RecipientFileTransferStatusExt"
            }
          },
          {
            "name": "from",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/{fileTransferId}/upload": {
      "post": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Upload file",
        "description": "This endpoint allows for the uploading to an initialized file transfer",
        "operationId": "UploadFile",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully uploaded the fileTransfer"
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/upload": {
      "post": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Initialize and upload a file transfer",
        "description": "This endpoint allows for the initialization and uploading of a file transfer in a single operation",
        "operationId": "UploadSingleFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "FileTransfer",
                  "Metadata.FileName",
                  "Metadata.Recipients",
                  "Metadata.ResourceId",
                  "Metadata.Sender"
                ],
                "type": "object",
                "properties": {
                  "Metadata.FileName": {
                    "maxLength": 255,
                    "minLength": 1,
                    "type": "string"
                  },
                  "Metadata.ResourceId": {
                    "maxLength": 255,
                    "minLength": 1,
                    "type": "string"
                  },
                  "Metadata.SendersFileTransferReference": {
                    "maxLength": 4096,
                    "minLength": 1,
                    "type": "string"
                  },
                  "Metadata.Sender": {
                    "pattern": "^\\d{4}:\\d{9}$",
                    "type": "string"
                  },
                  "Metadata.Recipients": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "Metadata.PropertyList": {
                    "type": "object",
                    "additionalProperties": false,
                    "maxProperties": 10,
                    "nullable": true,
                    "patternProperties": {
                      "^.{1,50}$": {
                        "maxLength": 300,
                        "type": "string"
                      }
                    }
                  },
                  "Metadata.Checksum": {
                    "type": "string"
                  },
                  "Metadata.DisableVirusScan": {
                    "type": "boolean"
                  },
                  "FileTransfer": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "Metadata.FileName": {
                  "style": "form"
                },
                "Metadata.ResourceId": {
                  "style": "form"
                },
                "Metadata.SendersFileTransferReference": {
                  "style": "form"
                },
                "Metadata.Sender": {
                  "style": "form"
                },
                "Metadata.Recipients": {
                  "style": "form"
                },
                "Metadata.PropertyList": {
                  "style": "form"
                },
                "Metadata.Checksum": {
                  "style": "form"
                },
                "Metadata.DisableVirusScan": {
                  "style": "form"
                },
                "FileTransfer": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/{fileTransferId}": {
      "get": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Retrieve file transfer status.",
        "description": "This endpoint retrieves the status of a specified file transfer",
        "operationId": "GetFileStatus",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileTransferOverviewExt"
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/{fileTransferId}/details": {
      "get": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Retrieve file transfer details",
        "description": "Retrieve details about a file transfer for auditing purposes",
        "operationId": "GetFileDetails",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileTransferStatusDetailsExt"
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/{fileTransferId}/download": {
      "get": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Download a file",
        "description": "This endpoint is used for downloading the file from the specified file transfer",
        "operationId": "DownloadFile",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully downloaded the fileTransfer"
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/{fileTransferId}/confirmdownload": {
      "post": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Confirm a file download.",
        "description": "This endpoint confirms the successful download of the specified file transfer",
        "operationId": "ConfirmDownload",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/broker/api/v1/resource/{resourceId}": {
      "put": {
        "summary": "Configure a resource",
        "operationId": "configureResource",
        "tags": [
          "Resource"
        ],
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceExt"
              },
              "example": {
                "MaxFileTransferSize": 2147483648,
                "FileTransferTimeToLive": 30D,
                "PurgeFileTransferAfterAllRecipientsConfirmed": true,
                "PurgeFileTransferGracePeriod": 48H,
                "UseManifestFileShim": false,
                "ExternalServiceCodeLegacy": null,
                "ExternalServiceEditionCodeLegacy": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource configured successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "serviceOwnerPolicy": []
          }
        ]
      }
    },
    "/broker/api/v1/serviceowner": {
      "post": {
        "summary": "Initialize a service owner",
        "operationId": "initializeServiceOwner",
        "tags": [
          "ServiceOwner"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerInitializeExt"
              },
              "example": {
                "Name": "Example Service Owner",
                "DeletionTime": "P1D"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service owner initialized successfully"
          },
          "409": {
            "description": "Service owner already exists"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "serviceOwnerPolicy": []
          }
        ]
      },
      "get": {
        "summary": "Get service owner details",
        "operationId": "getServiceOwner",
        "tags": [
          "ServiceOwner"
        ],
        "responses": {
          "200": {
            "description": "Service owner details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOwnerOverviewExt"
                },
                "example": {
                  "Name": "Example Service Owner",
                  "DeploymentStatus": "Deployed"
                }
              }
            }
          },
          "404": {
            "description": "Service owner not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "serviceOwnerPolicy": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccessLevel": {
        "enum": [
          "Read",
          "Write"
        ],
        "type": "string"
      },
      "CloudEvent": {
        "type": "object",
        "properties": {
          "specversion": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "resource": {
            "type": "string"
          },
          "resourceinstance": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": true,
        "examples": [
          {
            "specversion": "1.0",
            "id": "0b75b5da-7f19-4ab7-9711-ec0f6108d48c",
            "type": "no.altinn.broker.filetransferinitialized",
            "time": "2024-04-03T08:59:37.8552029Z",
            "resource": "urn:altinn:resource:altinapp.ttd.apps-test",
            "resourceinstance": "0850124f-6ae9-4821-b4f9-8ee7c937ecfc",
            "source": "https://platform.tt02.altinn.no/broker/api/v1/file"
          }
        ]
      },
      "DeploymentStatusExt": {
        "enum": [
          "NotStarted",
          "DeployingResources",
          "Ready"
        ],
        "type": "string"
      },
      "FileTransferInitalizeExt": {
        "required": [
          "fileName",
          "recipients",
          "resourceId",
          "sender"
        ],
        "type": "object",
        "properties": {
          "fileName": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "resourceId": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "sendersFileTransferReference": {
            "maxLength": 4096,
            "minLength": 1,
            "type": "string",
            "nullable": true
          },
          "sender": {
            "minLength": 1,
            "pattern": "^\\d{4}:\\d{9}$",
            "type": "string"
          },
          "recipients": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "propertyList": {
            "type": "object",
            "additionalProperties": false,
            "maxProperties": 10,
            "nullable": true,
            "patternProperties": {
              "^.{1,50}$": {
                "maxLength": 300,
                "type": "string"
              }
            }
          },
          "checksum": {
            "type": "string",
            "nullable": true
          },
          "disableVirusScan": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FileTransferOverviewExt": {
        "type": "object",
        "properties": {
          "fileTransferId": {
            "type": "string",
            "format": "uuid"
          },
          "resourceId": {
            "type": "string",
            "nullable": true
          },
          "fileName": {
            "type": "string",
            "nullable": true
          },
          "sendersFileTransferReference": {
            "type": "string",
            "nullable": true
          },
          "checksum": {
            "type": "string",
            "nullable": true
          },
          "useVirusScan": {
            "type": "boolean"
          },
          "fileTransferSize": {
            "type": "integer",
            "format": "int64"
          },
          "fileTransferStatus": {
            "$ref": "#/components/schemas/FileTransferStatusExt"
          },
          "fileTransferStatusText": {
            "type": "string",
            "nullable": true
          },
          "fileTransferStatusChanged": {
            "type": "string",
            "format": "date-time"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "expirationTime": {
            "type": "string",
            "format": "date-time"
          },
          "sender": {
            "type": "string",
            "nullable": true
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientFileTransferStatusDetailsExt"
            },
            "nullable": true
          },
          "propertyList": {
            "type": "object",
            "additionalProperties": false,
            "maxProperties": 10,
            "nullable": true,
            "patternProperties": {
              "^.{1,50}$": {
                "maxLength": 300,
                "type": "string"
              }
            }
          }
        },
        "additionalProperties": false
      },
      "FileTransferStatusDetailsExt": {
        "type": "object",
        "properties": {
          "fileTransferId": {
            "type": "string",
            "format": "uuid"
          },
          "resourceId": {
            "type": "string",
            "nullable": true
          },
          "fileName": {
            "type": "string",
            "nullable": true
          },
          "sendersFileTransferReference": {
            "type": "string",
            "nullable": true
          },
          "checksum": {
            "type": "string",
            "nullable": true
          },
          "useVirusScan": {
            "type": "boolean"
          },
          "fileTransferSize": {
            "type": "integer",
            "format": "int64"
          },
          "fileTransferStatus": {
            "$ref": "#/components/schemas/FileTransferStatusExt"
          },
          "fileTransferStatusText": {
            "type": "string",
            "nullable": true
          },
          "fileTransferStatusChanged": {
            "type": "string",
            "format": "date-time"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "expirationTime": {
            "type": "string",
            "format": "date-time"
          },
          "sender": {
            "type": "string",
            "nullable": true
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientFileTransferStatusDetailsExt"
            },
            "nullable": true
          },
          "propertyList": {
            "type": "object",
            "additionalProperties": false,
            "maxProperties": 10,
            "nullable": true,
            "patternProperties": {
              "^.{1,50}$": {
                "maxLength": 300,
                "type": "string"
              }
            }
          },
          "fileTransferStatusHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileTransferStatusEventExt"
            },
            "nullable": true
          },
          "recipientFileTransferStatusHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientFileTransferStatusEventExt"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FileTransferStatusEventExt": {
        "type": "object",
        "properties": {
          "fileTransferStatus": {
            "$ref": "#/components/schemas/FileTransferStatusExt"
          },
          "fileTransferStatusText": {
            "type": "string",
            "nullable": true
          },
          "fileTransferStatusChanged": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "FileTransferStatusExt": {
        "enum": [
          "Initialized",
          "UploadStarted",
          "UploadProcessing",
          "Published",
          "Cancelled",
          "AllConfirmedDownloaded",
          "Purged",
          "Failed"
        ],
        "type": "string"
      },
      "RecipientFileTransferStatusDetailsExt": {
        "type": "object",
        "properties": {
          "recipient": {
            "type": "string",
            "nullable": true
          },
          "currentRecipientFileTransferStatusCode": {
            "$ref": "#/components/schemas/RecipientFileTransferStatusExt"
          },
          "currentRecipientFileTransferStatusText": {
            "type": "string",
            "nullable": true
          },
          "currentRecipientFileTransferStatusChanged": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "RecipientFileTransferStatusEventExt": {
        "type": "object",
        "properties": {
          "recipient": {
            "type": "string",
            "nullable": true
          },
          "recipientFileTransferStatusCode": {
            "$ref": "#/components/schemas/RecipientFileTransferStatusExt"
          },
          "recipientFileTransferStatusText": {
            "type": "string",
            "nullable": true
          },
          "recipientFileTransferStatusChanged": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "RecipientFileTransferStatusExt": {
        "enum": [
          "Initialized",
          "DownloadStarted",
          "DownloadConfirmed"
        ],
        "type": "string"
      },
      "ResourceExt": {
        "type": "object",
        "properties": {
          "maxFileTransferSize": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "fileTransferTimeToLive": {
            "type": "string",
            "nullable": true
          },
          "purgeFileTransferAfterAllRecipientsConfirmed": {
            "type": "boolean",
            "nullable": true
          },
          "purgeFileTransferGracePeriod": {
            "type": "string",
            "nullable": true
          },
          "useManifestFileShim": {
            "type": "boolean",
            "nullable": true
          },
          "externalServiceCodeLegacy": {
            "type": "string",
            "nullable": true
          },
          "externalServiceEditionCodeLegacy": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ServiceOwnerInitializeExt": {
        "required": [
          "deletionTime",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "deletionTime": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ServiceOwnerOverviewExt": {
        "required": [
          "name",
          "storageProviders"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "storageProviders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StorageProviderExt"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StorageProviderExt": {
        "required": [
          "deploymentEnvironment",
          "deploymentStatus",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/StorageProviderTypeExt"
          },
          "deploymentStatus": {
            "$ref": "#/components/schemas/DeploymentStatusExt"
          },
          "deploymentEnvironment": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StorageProviderTypeExt": {
        "enum": [
          "AltinnAzure",
          "AltinnAzureWithoutVirusScan"
        ],
        "type": "string"
      }
    }
  }
}