{
  "openapi": "3.0.1",
  "info": {
    "title": "Altinn Platform Authentication",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://platform.tt02.altinn.no/authentication/api/v1",
      "description": "TT02"
    },
    {
      "url": "https://platform.altinn.no/authentication/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/authentication": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request that handles the form authentication cookie from SBL",
        "parameters": [
          {
            "name": "goTo",
            "in": "query",
            "description": "The url to redirect to if everything validates ok",
            "schema": {
              "type": "string",
              "description": "The url to redirect to if everything validates ok",
              "nullable": true
            }
          },
          {
            "name": "dontChooseReportee",
            "in": "query",
            "description": "Parameter to indicate disabling of reportee selection in Altinn Portal.",
            "schema": {
              "type": "boolean",
              "description": "Parameter to indicate disabling of reportee selection in Altinn Portal."
						}
					}
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/refresh": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refreshes JwtToken.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/exchange/{tokenProvider}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Action for exchanging a JWT generated by a trusted token provider with a new JWT for further use as authentication against rest of Altinn.",
        "parameters": [
          {
            "name": "tokenProvider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "test",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/introspection": {
      "post": {
        "tags": [
          "Introspection"
        ],
        "summary": "Validate token.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "Token": {
                    "type": "string",
                    "description": "The JWT access token"
                  },
                  "TokenTypeHint": {
                    "type": "string",
                    "description": "The token type hint"
                  }
                }
              },
              "encoding": {
                "Token": {
                  "style": "form"
                },
                "TokenTypeHint": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntrospectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openid/.well-known/openid-configuration": {
      "get": {
        "tags": [
          "OpenId"
        ],
        "summary": "Returns a discovery document",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/openid/.well-known/openid-configuration/jwks": {
      "get": {
        "tags": [
          "OpenId"
        ],
        "summary": "Returns the JSON Web Key Set to use when validating a token.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IntrospectionResponse": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean",
            "description": "Gets or sects the active property indicating if the request token was valid"
          },
          "iss": {
            "type": "string",
            "description": "Gets or sets the issuer of the validated request token.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Introspection response object"
      }
    }
  }
}
