{
  "openapi": "3.0.4",
  "info": {
    "title": "Altinn3.Broker",
    "version": "1.1.0",
    "description": "API for Altinn Broker functionality."
  },
  "servers": [
    {
      "url": "https://platform.tt02.altinn.no",
      "description": "TT02"
    }
  ],
  "paths": {
    "/broker/api/v1/filetransfer": {
      "post": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Initialize a file transfer",
        "description": "One of the scopes: \r\n\r\n- altinn:broker.write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileTransferInitalizeExt"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the id of the initialized File transfer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileTransferInitializeResponseExt"
                }
              }
            }
          },
          "400": {
            "description": "<ul>\r\n  <li>Service owner needs to be configured to use the broker API</li>\r\n  <li>In order to use file transfers without virus scan the service resource needs to be approved by Altinn. Please contact us @ Slack</li>\r\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Storage provider is not ready yet. Please try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Get files that can be accessed by the caller according to specified filters",
        "description": "One of the scopes: \r\n\r\n- altinn:broker.read \r\n\r\n- altinn:broker.write \r\n\r\nDate filtering behavior: \r\n\r\n- If `status` is included, `from` and `to` filter on when the file transfer changed to that status. \r\n\r\n- If `status` is not included, `from` and `to` filter on file transfer `created` time. \r\n\r\nResult is limited to 100 files. If your query returns more than 100 files, only the 100 newest in the active timeline are returned.",
        "parameters": [
          {
            "name": "resourceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FileTransferStatusExt"
            }
          },
          {
            "name": "recipientStatus",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/RecipientFileTransferStatusExt"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "orderAscending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/RoleExt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of file transfers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/{fileTransferId}/upload": {
      "post": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Upload to an initialized file using a binary stream.",
        "description": "For large files that may exceed reverse-proxy connection timeouts, use the resumable TUS endpoint instead:\r\nPOST/PATCH `/broker/api/v1/filetransfer/upload/tus/{fileTransferId}` (TUS protocol).\r\nOne of the scopes: \r\n\r\n- altinn:broker.write",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the id of the uploaded File transfer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileTransferUploadResponseExt"
                }
              }
            }
          },
          "400": {
            "description": "<ul>\r\n  <li>Service owner needs to be configured to use the broker API</li>\r\n  <li>File size exceeds maximum</li>\r\n  <li>The checksum of uploaded file did not match the checksum specified in initialize call</li>\r\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The requested file transfer was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "A file transfer has already been, or attempted to be, created. Create a new file transfer resource to try again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Storage provider is not ready yet. Please try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/upload": {
      "post": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Initialize a filetransfer and uploads the file in the same request using form-data",
        "description": "One of the scopes: \r\n\r\n- altinn:broker.write",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "FileTransfer",
                  "Metadata.FileName",
                  "Metadata.Recipients",
                  "Metadata.ResourceId",
                  "Metadata.Sender"
                ],
                "type": "object",
                "properties": {
                  "Metadata.FileName": {
                    "maxLength": 255,
                    "minLength": 1,
                    "type": "string",
                    "description": "The filename including extension"
                  },
                  "Metadata.ResourceId": {
                    "maxLength": 255,
                    "minLength": 1,
                    "type": "string",
                    "description": "The Altinn resource ID"
                  },
                  "Metadata.SendersFileTransferReference": {
                    "maxLength": 4096,
                    "minLength": 1,
                    "type": "string",
                    "description": "Used by senders and receivers to identify specific file using external identification methods."
                  },
                  "Metadata.Sender": {
                    "pattern": "^(?:\\d{4}:\\d{9}|urn:altinn:organization:identifier-no:\\d{9})$",
                    "type": "string",
                    "description": "The sender organization of the file"
                  },
                  "Metadata.Recipients": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The recipient organizations of the broker fileTransfer"
                  },
                  "Metadata.PropertyList": {
                    "type": "object",
                      "additionalProperties": false,
                      "maxProperties": 10,
                      "nullable": true,
                      "patternProperties": {
                        "^.{1,50}$": {
                          "maxLength": 300,
                          "type": "string"
                        }
                  },
                    "description": "User-defined properties related to the file"
                  },
                  "Metadata.Checksum": {
                    "type": "string",
                    "description": "MD5 checksum for file data."
                  },
                  "Metadata.DisableVirusScan": {
                    "type": "boolean",
                    "description": "Disable virus scan. Requires special permission in production."
                  },
                  "FileTransfer": {
                    "type": "string",
                    "description": "The file to be uploaded.",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "Metadata.FileName": {
                  "style": "form"
                },
                "Metadata.ResourceId": {
                  "style": "form"
                },
                "Metadata.SendersFileTransferReference": {
                  "style": "form"
                },
                "Metadata.Sender": {
                  "style": "form"
                },
                "Metadata.Recipients": {
                  "style": "form"
                },
                "Metadata.PropertyList": {
                  "style": "form"
                },
                "Metadata.Checksum": {
                  "style": "form"
                },
                "Metadata.DisableVirusScan": {
                  "style": "form"
                },
                "FileTransfer": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the id of the uploaded File transfer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileTransferInitializeResponseExt"
                }
              }
            }
          },
          "400": {
            "description": "<ul>\r\n  <li>Service owner needs to be configured to use the broker API</li>\r\n  <li>In order to use file transfers without virus scan the service resource needs to be approved by Altinn. Please contact us @ Slack</li>\r\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Storage provider is not ready yet. Please try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/{fileTransferId}": {
      "get": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Get information about the file transfer and its current status",
        "description": "One of the scopes: \r\n\r\n- altinn:broker.read \r\n\r\n- altinn:broker.write",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the file transfer overview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileTransferOverviewExt"
                }
              }
            }
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The requested file transfer was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/{fileTransferId}/details": {
      "get": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Get more detailed information about the file transfer for auditing and troubleshooting purposes",
        "description": "One of the scopes: \r\n\r\n- altinn:broker.read \r\n\r\n- altinn:broker.write",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the file transfer overview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileTransferStatusDetailsExt"
                }
              }
            }
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The requested file transfer was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/{fileTransferId}/download": {
      "get": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Downloads the file",
        "description": "One of the scopes: \r\n\r\n- altinn:broker.read \r\n",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "<ul>\r\n  <li>No file uploaded yet</li>\r\n  <li>Service owner needs to be configured to use the broker API</li>\r\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\r\n  <li>The requested file transfer's file is not ready for download. See file transfer status</li>\r\n  <li>\"The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner</li>\r\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The requested file transfer was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/{fileTransferId}/confirmdownload": {
      "post": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Confirms that the file has been downloaded",
        "description": "One of the scopes: \r\n \r\n- altinn:broker.read \r\n",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The download has been confirmed"
          },
          "400": {
            "description": "<ul>\r\n  <li>Cannot confirm before the files have been downloaded</li>\r\n  <li>No file uploaded yet</li>\r\n  <li>The requested file transfer's file is not ready for download. See file transfer status</li>\r\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The requested file transfer was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/resource/{resourceId}": {
      "put": {
        "tags": [
          "Resource"
        ],
        "summary": "Configures a resource with settings to be used within the broker service.",
        "description": "One of the scopes: \r\n \r\n- altinn:serviceowner \r\n",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceExt"
              },
              "example": {
                "MaxFileTransferSize": 2147483648,
                "FileTransferTimeToLive": "30D",
                "PurgeFileTransferAfterAllRecipientsConfirmed": true,
                "PurgeFileTransferGracePeriod": "48H",
                "UseManifestFileShim": false,
                "ExternalServiceCodeLegacy": null,
                "ExternalServiceEditionCodeLegacy": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource configured successfully"
          },
          "400": {
            "description": "<ul>\r\n  <li>Invalid grace period format. Should follow ISO8601 standard for duration. Example: 'PT2H' for 2 hours</li>\r\n  <li>Grace period cannot exceed 24 hours</li>\r\n  <li>Max file transfer size cannot be negative</li>\r\n  <li>Max file transfer size cannot be zero</li>\r\n  <li>Max file transfer size cannot be set higher than 50GB in production unless the resource has been pre-approved for disabled virus scan. Contact us @ Slack</li>\r\n  <li>Max file transfer size cannot be set higher than 100GB in production because it has not yet been tested for it. Contact us @ Slack if you need it</li>\r\n  <li>Invalid file transfer time to live format. Should follow ISO8601 standard for duration. Example: 'P30D' for 30 days</li>\r\n  <li>Time to live cannot exceed 365 days</li>\r\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Resource"
        ],
        "summary": "Gets information about a resource configuration in broker",
        "description": "One of the scopes: \r\n \r\n- altinn:serviceowner \r\n",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed information about the resource"
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/serviceowner": {
      "post": {
        "tags": [
          "ServiceOwner"
        ],
        "summary": "Initializes the service owner for the calling organization within the brokerservice.",
        "description": "One of the scopes: \r\n\r\n- altinn:serviceowner \r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerInitializeExt"
              },
              "example": {
                "Name": "Example Service Owner",
                "DeletionTime": "P1D"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service owner initialized successfully"
          },
          "409": {
            "description": "Service owner already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ServiceOwner"
        ],
        "summary": "Gets the service owner for the calling organization within the brokerservice.",
        "description": "One of the scopes: \r\n\r\n- altinn:serviceowner \r\n",
        "responses": {
          "200": {
            "description": "Service owner retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOwnerOverviewExt"
                },
                "example": {
                  "Name": "Example Service Owner",
                  "DeploymentStatus": "Deployed"
                }
              }
            }
          },
          "404": {
            "description": "Service owner not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/upload/tus/{fileTransferId}": {
      "options": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Discover TUS server capabilities",
        "description": "Returns supported TUS protocol version and extensions. Call this before starting a resumable upload. The <c>Tus-Extension</c> response header includes <c>concatenation</c> for parallel partial uploads. See https://tus.io/protocols/resumable-upload.html<br/><br/>One of the scopes:<br/>- altinn:broker.write<br/><br/>Requires the <c>Tus-Resumable: 1.0.0</c> header on every request except OPTIONS.",
        "operationId": "TusUploadOptions",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "description": "The file transfer id returned from initialize.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Server capabilities returned in Tus-* response headers"
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry"
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner"
          },
          "404": {
            "description": "The requested file transfer was not found"
          }
        }
      },
      "post": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Create a resumable upload",
        "description": "Creates a TUS upload resource for an initialized file transfer. <br/><br/><b>Single-file upload</b>: send <c>Upload-Length</c> only. Continue uploading with <c>PATCH</c> and <c>HEAD</c> on this same URL. <br/><br/><b>Concatenation partial</b>: send <c>Upload-Concat: partial</c> and <c>Upload-Length</c> for each file segment. The response <c>Location</c> is <c>/broker/api/v1/filetransfer/upload/tus/{fileTransferId}/partial/{partialUploadId}</c>. <br/><br/><b>Concatenation final</b>: after all partials are complete, send <c>Upload-Concat: final;&lt;partial-location-1&gt; &lt;partial-location-2&gt; ...</c> using the <c>Location</c> URLs from partial creates. Do not send <c>Upload-Length</c> on the final request. Upload-Defer-Length is not supported.<br/><br/>One of the scopes:<br/>- altinn:broker.write<br/><br/>Requires the <c>Tus-Resumable: 1.0.0</c> header on every request except OPTIONS.",
        "operationId": "TusUploadCreate",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "description": "The file transfer id returned from initialize.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Tus-Resumable",
            "in": "header",
            "description": "TUS protocol version. Must be 1.0.0.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0.0"
            }
          },
          {
            "name": "Upload-Length",
            "in": "header",
            "description": "Total upload size in bytes. Required for single-file and partial uploads. Omit on final concatenation requests.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Upload-Concat",
            "in": "header",
            "description": "Concatenation mode. Use <c>partial</c> when creating a segment upload, or <c>final;&lt;partial-location-1&gt; &lt;partial-location-2&gt; ...</c> to finalize.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upload created. For partial uploads, continue with PATCH on the returned Location URL."
          },
          "400": {
            "description": "Service owner needs to be configured, file size exceeds maximum, checksum mismatch, or invalid TUS request"
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry"
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner"
          },
          "404": {
            "description": "The requested file transfer was not found"
          },
          "409": {
            "description": "A file transfer has already been, or attempted to be, created. Create a new file transfer resource to try again."
          },
          "413": {
            "description": "File size exceeds maximum"
          },
          "503": {
            "description": "Storage provider is not ready yet. Please try again later"
          }
        }
      },
      "head": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Get current upload offset",
        "description": "Returns how many bytes have been uploaded so far via the <c>Upload-Offset</c> response header. Use this to resume an interrupted single-file upload on this URL. For concatenation partial uploads, use the two-segment partial URL instead.<br/><br/>One of the scopes:<br/>- altinn:broker.write<br/><br/>Requires the <c>Tus-Resumable: 1.0.0</c> header on every request except OPTIONS.",
        "operationId": "TusUploadHead",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "description": "The file transfer id returned from initialize.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Tus-Resumable",
            "in": "header",
            "description": "TUS protocol version. Must be 1.0.0.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current offset returned in Upload-Offset header"
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry"
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner"
          },
          "404": {
            "description": "The requested file transfer was not found"
          }
        }
      },
      "patch": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Upload the next chunk",
        "description": "Appends a chunk of file data at the offset given in the <c>Upload-Offset</c> request header. Repeat until the server offset equals <c>Upload-Length</c>. On completion the file is finalized and the file transfer status is updated. For concatenation partial uploads, use the two-segment partial URL instead.<br/><br/>One of the scopes:<br/>- altinn:broker.write<br/><br/>Requires the <c>Tus-Resumable: 1.0.0</c> header on every request except OPTIONS.",
        "operationId": "TusUploadPatch",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "description": "The file transfer id returned from initialize.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Tus-Resumable",
            "in": "header",
            "description": "TUS protocol version. Must be 1.0.0.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0.0"
            }
          },
          {
            "name": "Upload-Offset",
            "in": "header",
            "description": "Byte offset at which this chunk should be appended.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/offset+octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Chunk accepted. New offset returned in Upload-Offset header."
          },
          "400": {
            "description": "Service owner needs to be configured, file size exceeds maximum, checksum mismatch, or invalid TUS request"
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry"
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner"
          },
          "404": {
            "description": "The requested file transfer was not found"
          },
          "409": {
            "description": "Upload-Offset does not match server offset"
          },
          "503": {
            "description": "Storage provider is not ready yet. Please try again later"
          }
        }
      },
      "delete": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Terminate an incomplete upload",
        "description": "Deletes an in-progress TUS upload. Supported when the termination extension is enabled.<br/><br/>One of the scopes:<br/>- altinn:broker.write<br/><br/>Requires the <c>Tus-Resumable: 1.0.0</c> header on every request except OPTIONS.",
        "operationId": "TusUploadDelete",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "description": "The file transfer id returned from initialize.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Tus-Resumable",
            "in": "header",
            "description": "TUS protocol version. Must be 1.0.0.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0.0"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Upload terminated"
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry"
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner"
          },
          "404": {
            "description": "The requested file transfer was not found"
          }
        }
      }
    },
    "/broker/api/v1/filetransfer/upload/tus/{fileTransferId}/partial/{partialUploadId}": {
      "head": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Get current partial upload offset",
        "description": "Returns the current byte offset for a concatenation partial upload via the <c>Upload-Offset</c> response header. Use the <c>Location</c> URL returned when creating the partial upload.<br/><br/>One of the scopes:<br/>- altinn:broker.write<br/><br/>Requires the <c>Tus-Resumable: 1.0.0</c> header on every request except OPTIONS.",
        "operationId": "TusPartialUploadHead",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "description": "The file transfer id returned from initialize.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "partialUploadId",
            "in": "path",
            "description": "The partial upload id returned in the Location header when creating a partial upload.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tus-Resumable",
            "in": "header",
            "description": "TUS protocol version. Must be 1.0.0.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current offset and Upload-Length returned in response headers"
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry"
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner"
          },
          "404": {
            "description": "The requested file transfer was not found"
          }
        }
      },
      "patch": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Upload the next chunk to a partial upload",
        "description": "Appends a chunk to a concatenation partial upload at the offset given in the <c>Upload-Offset</c> request header. Repeat until the server offset equals the partial <c>Upload-Length</c>.<br/><br/>One of the scopes:<br/>- altinn:broker.write<br/><br/>Requires the <c>Tus-Resumable: 1.0.0</c> header on every request except OPTIONS.",
        "operationId": "TusPartialUploadPatch",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "description": "The file transfer id returned from initialize.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "partialUploadId",
            "in": "path",
            "description": "The partial upload id returned in the Location header when creating a partial upload.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tus-Resumable",
            "in": "header",
            "description": "TUS protocol version. Must be 1.0.0.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0.0"
            }
          },
          {
            "name": "Upload-Offset",
            "in": "header",
            "description": "Byte offset at which this chunk should be appended.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/offset+octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Chunk accepted. New offset returned in Upload-Offset header."
          },
          "400": {
            "description": "Service owner needs to be configured, file size exceeds maximum, checksum mismatch, or invalid TUS request"
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry"
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner"
          },
          "404": {
            "description": "The requested file transfer was not found"
          },
          "409": {
            "description": "Upload-Offset does not match server offset"
          },
          "503": {
            "description": "Storage provider is not ready yet. Please try again later"
          }
        }
      },
      "delete": {
        "tags": [
          "FileTransfer"
        ],
        "summary": "Terminate an incomplete partial upload",
        "description": "Deletes an in-progress concatenation partial upload.<br/><br/>One of the scopes:<br/>- altinn:broker.write<br/><br/>Requires the <c>Tus-Resumable: 1.0.0</c> header on every request except OPTIONS.",
        "operationId": "TusPartialUploadDelete",
        "parameters": [
          {
            "name": "fileTransferId",
            "in": "path",
            "description": "The file transfer id returned from initialize.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "partialUploadId",
            "in": "path",
            "description": "The partial upload id returned in the Location header when creating a partial upload.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tus-Resumable",
            "in": "header",
            "description": "TUS protocol version. Must be 1.0.0.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0.0"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Partial upload terminated"
          },
          "401": {
            "description": "You must use a bearer token that represents a system user with access to the resource in the Resource Rights Registry"
          },
          "403": {
            "description": "The resource needs to be registered as an Altinn 3 resource and it has to be associated with a service owner"
          },
          "404": {
            "description": "The requested file transfer was not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DeploymentStatusExt": {
        "enum": [
          "NotStarted",
          "DeployingResources",
          "Ready"
        ],
        "type": "string",
        "description": "The status of deployment of Azure resources for storage providers"
      },
      "FileTransferInitalizeExt": {
        "required": [
          "fileName",
          "recipients",
          "resourceId",
          "sender"
        ],
        "type": "object",
        "properties": {
          "fileName": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The filename including extension"
          },
          "resourceId": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "The Altinn resource ID"
          },
          "sendersFileTransferReference": {
            "maxLength": 4096,
            "minLength": 1,
            "type": "string",
            "description": "Used by senders and receivers to identify specific file using external identification methods.",
            "nullable": true
          },
          "sender": {
            "minLength": 1,
            "pattern": "^(?:\\d{4}:\\d{9}|urn:altinn:organization:identifier-no:\\d{9})$",
            "type": "string",
            "description": "The sender organization of the file"
          },
          "recipients": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The recipient organizations of the broker fileTransfer"
          },
          "propertyList": {
            "type": "object",
            "additionalProperties": false,
            "maxProperties": 10,
            "nullable": true,
            "patternProperties": {
              "^.{1,50}$": {
                "maxLength": 300,
                "type": "string"
              }
            },
            "description": "User-defined properties related to the file"
          },
          "checksum": {
            "type": "string",
            "description": "MD5 checksum for file data.",
            "nullable": true
          },
          "disableVirusScan": {
            "type": "boolean",
            "description": "Disable virus scan. Requires special permission in production.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A model containing the metadata for a file transfer."
      },
      "FileTransferInitializeResponseExt": {
        "type": "object",
        "properties": {
          "fileTransferId": {
            "type": "string",
            "description": "The ID of the file transfer.",
            "format": "uuid"
          }
        },
        "additionalProperties": false,
        "description": "Represents the response from initializing a file transfer."
      },
      "FileTransferOverviewExt": {
        "type": "object",
        "additionalProperties": false,
        "description": "Overview of a broker file transfer",
        "properties": {
          "fileTransferId": {
            "type": "string",
            "format": "uuid"
          },
          "resourceId": {
            "type": "string",
            "description": "The Altinn resource ID for the broker service",
            "nullable": true
          },
          "fileName": {
            "type": "string",
            "description": "The filename including extension",
            "nullable": true
          },
          "sendersFileTransferReference": {
            "type": "string",
            "description": "Used by senders and receivers to identify specific file using external identification methods.",
            "nullable": true
          },
          "checksum": {
            "type": "string",
            "description": "MD5 checksum for file data.",
            "nullable": true
          },
          "useVirusScan": {
            "type": "boolean",
            "description": "Is virus scan enabled for the file transfer"
          },
          "fileTransferSize": {
            "type": "integer",
            "description": "File size in bytes",
            "format": "int64"
          },
          "fileTransferStatus": {
            "$ref": "#/components/schemas/FileTransferStatusExt"
          },
          "fileTransferStatusText": {
            "type": "string",
            "description": "Current file status text description",
            "nullable": true
          },
          "fileTransferStatusChanged": {
            "type": "string",
            "description": "Timestamp for when the Current File Status was changed",
            "format": "date-time"
          },
          "created": {
            "type": "string",
            "description": "Date/Time in UTC for when the file was created",
            "format": "date-time"
          },
          "expirationTime": {
            "type": "string",
            "description": "Date/Time in UTC for when the file will expire",
            "format": "date-time"
          },
          "sender": {
            "type": "string",
            "description": "Sender of the fileTransfer",
            "nullable": true
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientFileTransferStatusDetailsExt"
            },
            "description": "Recipients of the file",
            "nullable": true
          },
          "propertyList": {
            "type": "object",
            "additionalProperties": false,
            "maxProperties": 10,
            "nullable": true,
            "patternProperties": {
              "^.{1,50}$": {
                "maxLength": 300,
                "type": "string"
              }
            },
           "description": "Up to ten arbitrary key value pairs"
          },
          "published": {
            "type": "string",
            "description": "Date/Time for when the file transfer was published (ready for download).\r\nNull if not yet published.",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "FileTransferStatusDetailsExt": {
        "type": "object",
        "properties": {
          "fileTransferId": {
            "type": "string",
            "format": "uuid"
          },
          "resourceId": {
            "type": "string",
            "description": "The Altinn resource ID for the broker service",
            "nullable": true
          },
          "fileName": {
            "type": "string",
            "description": "The filename including extension",
            "nullable": true
          },
          "sendersFileTransferReference": {
            "type": "string",
            "description": "Used by senders and receivers to identify specific file using external identification methods.",
            "nullable": true
          },
          "checksum": {
            "type": "string",
            "description": "MD5 checksum for file data.",
            "nullable": true
          },
          "useVirusScan": {
            "type": "boolean",
            "description": "Is virus scan enabled for the file transfer"
          },
          "fileTransferSize": {
            "type": "integer",
            "description": "File size in bytes",
            "format": "int64"
          },
          "fileTransferStatus": {
            "$ref": "#/components/schemas/FileTransferStatusExt"
          },
          "fileTransferStatusText": {
            "type": "string",
            "description": "Current file status text description",
            "nullable": true
          },
          "fileTransferStatusChanged": {
            "type": "string",
            "description": "Timestamp for when the Current File Status was changed",
            "format": "date-time"
          },
          "created": {
            "type": "string",
            "description": "Date/Time in UTC for when the file was created",
            "format": "date-time"
          },
          "expirationTime": {
            "type": "string",
            "description": "Date/Time in UTC for when the file will expire",
            "format": "date-time"
          },
          "sender": {
            "type": "string",
            "description": "Sender of the fileTransfer",
            "nullable": true
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientFileTransferStatusDetailsExt"
            },
            "description": "Recipients of the file",
            "nullable": true
          },
          "propertyList": {
            "type": "object",
            "additionalProperties": false,
            "maxProperties": 10,
            "nullable": true,
            "patternProperties": {
              "^.{1,50}$": {
                "maxLength": 300,
                "type": "string"
              }
            },
            "description": "Up to ten arbitrary key value pairs"
          },
          "fileTransferStatusHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileTransferStatusEventExt"
            },
            "description": "The status history of the file transfer.",
            "nullable": true
          },
          "recipientFileTransferStatusHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientFileTransferStatusEventExt"
            },
            "description": "The status history of the file transfer for each recipient.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Overview of a broker file transfer which also includes the status history of the file transfer.|"
      },
      "FileTransferStatusEventExt": {
        "type": "object",
        "properties": {
          "fileTransferStatus": {
            "$ref": "#/components/schemas/FileTransferStatusExt"
          },
          "fileTransferStatusText": {
            "type": "string",
            "description": "The status text of the file transfer.",
            "nullable": true
          },
          "fileTransferStatusChanged": {
            "type": "string",
            "description": "The date and time when the status of the file transfer was last changed.",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "Represents the status of a file transfer."
      },
      "FileTransferStatusExt": {
        "enum": [
          "Initialized",
          "UploadStarted",
          "UploadProcessing",
          "Published",
          "Cancelled",
          "AllConfirmedDownloaded",
          "Purged",
          "Failed"
        ],
        "type": "string"
      },
      "FileTransferUploadResponseExt": {
        "type": "object",
        "properties": {
          "fileTransferId": {
            "type": "string",
            "description": "The ID of the file transfer.",
            "format": "uuid"
          }
        },
        "additionalProperties": false,
        "description": "Represents the response from uploading a file transfer."
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": { }
      },
      "RecipientFileTransferStatusDetailsExt": {
        "type": "object",
        "properties": {
          "recipient": {
            "type": "string",
            "description": "The recipient of the file transfer.",
            "nullable": true
          },
          "currentRecipientFileTransferStatusCode": {
            "$ref": "#/components/schemas/RecipientFileTransferStatusExt"
          },
          "currentRecipientFileTransferStatusText": {
            "type": "string",
            "description": "The current status text of the file transfer.",
            "nullable": true
          },
          "currentRecipientFileTransferStatusChanged": {
            "type": "string",
            "description": "The date and time when the status of the file transfer was last changed.",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "Represents the current status of a file transfer for a specific recipient."
      },
      "RecipientFileTransferStatusEventExt": {
        "type": "object",
        "properties": {
          "recipient": {
            "type": "string",
            "description": "The recipient of the file transfer.",
            "nullable": true
          },
          "recipientFileTransferStatusCode": {
            "$ref": "#/components/schemas/RecipientFileTransferStatusExt"
          },
          "recipientFileTransferStatusText": {
            "type": "string",
            "description": "The status text of the file transfer.",
            "nullable": true
          },
          "recipientFileTransferStatusChanged": {
            "type": "string",
            "description": "The date and time when the status of the file transfer was last changed.",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "Represents the status of a file transfer to a recipient."
      },
      "RecipientFileTransferStatusExt": {
        "enum": [
          "Initialized",
          "DownloadStarted",
          "DownloadConfirmed"
        ],
        "type": "string"
      },
      "ResourceExt": {
        "type": "object",
        "properties": {
          "maxFileTransferSize": {
            "type": "integer",
            "description": "The max upload size for the resource in bytes",
            "format": "int64",
            "nullable": true
          },
          "fileTransferTimeToLive": {
            "type": "string",
            "description": "The time before a file transfer expires (ISO8601 Duration format)",
            "nullable": true
          },
          "purgeFileTransferAfterAllRecipientsConfirmed": {
            "type": "boolean",
            "description": "If the file transfer should be deleted after all recipients have confirmed",
            "nullable": true
          },
          "purgeFileTransferGracePeriod": {
            "type": "string",
            "description": "The grace period before a file transfer is deleted after all recipients have confirmed (ISO8601 Duration format)",
            "nullable": true
          },
          "useManifestFileShim": {
            "type": "boolean",
            "description": "If the manifest file shim should be used in the transition solution where manifest files are added to downloaded files",
            "nullable": true
          },
          "externalServiceCodeLegacy": {
            "type": "string",
            "description": "The external service code used in Altinn 2 for the broker service",
            "nullable": true
          },
          "externalServiceEditionCodeLegacy": {
            "type": "integer",
            "description": "The external service edition code used in Altinn 2 for the broker service",
            "format": "int32",
            "nullable": true
          },
          "requiredParty": {
            "type": "boolean",
            "description": "If the resource requires the service owner party to be subject of the file transfer.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A model representing the extended resource properties unique for the broker service."
      },
      "RoleExt": {
        "enum": [
          "Recipient",
          "Sender"
        ],
        "type": "string"
      },
      "ServiceOwnerInitializeExt": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the service owner.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the Broker properties of a service owner."
      },
      "ServiceOwnerOverviewExt": {
        "required": [
          "name",
          "storageProviders"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the service owner.",
            "nullable": true
          },
          "storageProviders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StorageProviderExt"
            },
            "description": "The service owner's storage providers.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the Broker properties of a service owner."
      },
      "StorageProviderExt": {
        "required": [
          "deploymentEnvironment",
          "deploymentStatus",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/StorageProviderTypeExt"
          },
          "deploymentStatus": {
            "$ref": "#/components/schemas/DeploymentStatusExt"
          },
          "deploymentEnvironment": {
            "type": "string",
            "description": "The deployment environment of the storage provider.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the Broker properties of a storage provider."
      },
      "StorageProviderTypeExt": {
        "enum": [
          "AltinnAzure",
          "AltinnAzureWithoutVirusScan"
        ],
        "type": "string",
        "description": "Represents the storage provider type."
      }
    }
  }
}