{
  "openapi": "3.0.4",
  "info": {
    "title": "Altinn.AccessManagement.Api.ServiceOwner",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://platform.tt02.altinn.no/accessmanagement/api/v1",
      "description": "Integration Test"
    },
    {
      "url": "https://platform.altinn.no/accessmanagement/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/serviceowner/connections/accesspackages": {
      "post": {
        "tags": [
          "Connections"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerAccessPackageDelegation"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerAccessPackageDelegation"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerAccessPackageDelegation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignmentPackageDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltinnProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "altinn:serviceowner/delegations:accesspackage.write"
            ]
          }
        ]
      }
    },
    "/serviceowner/connections/accesspackages/revoke": {
      "post": {
        "tags": [
          "Connections"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerAccessPackageDelegation"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerAccessPackageDelegation"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerAccessPackageDelegation"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltinnProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "altinn:serviceowner/delegations:accesspackage.write"
            ]
          }
        ]
      }
    },
    "/serviceowner/connections/resources/rights": {
      "get": {
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RightDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltinnProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "altinn:serviceowner/delegations:resource.write"
            ]
          }
        ]
      }
    },
    "/serviceowner/connections/resources": {
      "post": {
        "tags": [
          "Connections"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerResourceDelegation"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerResourceDelegation"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerResourceDelegation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignmentResourceDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltinnProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "altinn:serviceowner/delegations:resource.write"
            ]
          }
        ]
      }
    },
    "/serviceowner/connections/resources/revoke": {
      "post": {
        "tags": [
          "Connections"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerResourceDelegation"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerResourceDelegation"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceOwnerResourceDelegation"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltinnProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "altinn:serviceowner/delegations:resource.write"
            ]
          }
        ]
      }
    },
    "/maskinporten/delegations": {
      "get": {
        "tags": [
          "MaskinportenDelegations"
        ],
        "parameters": [
          {
            "name": "supplierOrg",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "consumerOrg",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MPDelegationExternal"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "MaskinportenDelegationsProxy"
            ]
          }
        ]
      }
    },
    "/serviceowner/delegationrequests/_meta/urns/party": {
      "get": {
        "tags": [
          "Request"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/serviceowner/delegationrequests/{id}/status": {
      "get": {
        "tags": [
          "Request"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltinnProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "altinn:serviceowner/delegationrequests.read"
            ]
          }
        ]
      }
    },
    "/serviceowner/delegationrequests/{id}/withdraw": {
      "put": {
        "tags": [
          "Request"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltinnProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "altinn:serviceowner/delegationrequests.write"
            ]
          }
        ]
      }
    },
    "/serviceowner/delegationrequests/resource": {
      "post": {
        "tags": [
          "Request"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestResourceDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestResourceDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestResourceDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltinnProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "altinn:serviceowner/delegationrequests.write"
            ]
          }
        ]
      }
    },
    "/serviceowner/delegationrequests/package": {
      "post": {
        "tags": [
          "Request"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPackageDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPackageDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPackageDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltinnProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "altinn:serviceowner/delegationrequests.write"
            ]
          }
        ]
      }
    },
    "/serviceowner/delegationrequests": {
      "post": {
        "tags": [
          "Request"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceOwnerRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceOwnerRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceOwnerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltinnProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "altinn:serviceowner/delegationrequests.write"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccessPackageIdentifier": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccessPackageUrn": {
        "type": "string",
        "oneOf": [
          {
            "$ref": "#/components/schemas/AccessPackageUrn.AccessPackage"
          }
        ],
        "additionalProperties": false,
        "format": "urn"
      },
      "AccessPackageUrn.AccessPackage": {
        "pattern": "^urn:altinn:accesspackage:.+$",
        "type": "string",
        "additionalProperties": false,
        "format": "urn"
      },
      "AccessPackageUrn.Type": {
        "enum": [
          1
        ],
        "type": "integer",
        "format": "int32"
      },
      "AltinnProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          }
        },
        "additionalProperties": { }
      },
      "AssignmentPackageDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "assignmentId": {
            "type": "string",
            "format": "uuid"
          },
          "packageId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "AssignmentResourceDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "assignmentId": {
            "type": "string",
            "format": "uuid"
          },
          "resourceId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "AttributeDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AuthorizedPartiesIncludeFilter": {
        "enum": [
          "false",
          "true",
          "auto"
        ],
        "type": "string"
      },
      "AuthorizedPartyDto": {
        "type": "object",
        "properties": {
          "partyUuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "organizationNumber": {
            "type": "string",
            "nullable": true
          },
          "parentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "personId": {
            "type": "string",
            "nullable": true
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "partyId": {
            "type": "integer",
            "format": "int32"
          },
          "emailId": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/AuthorizedPartyTypeDto"
          },
          "unitType": {
            "type": "string",
            "nullable": true
          },
          "isDeleted": {
            "type": "boolean"
          },
          "onlyHierarchyElementWithNoAccess": {
            "type": "boolean"
          },
          "authorizedAccessPackages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "authorizedResources": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "authorizedRoles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "authorizedInstances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthorizedPartyDto.AuthorizedResourceInstance"
            },
            "nullable": true
          },
          "subunits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthorizedPartyDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AuthorizedPartyDto.AuthorizedResourceInstance": {
        "type": "object",
        "properties": {
          "resourceId": {
            "type": "string",
            "nullable": true
          },
          "instanceId": {
            "type": "string",
            "nullable": true
          },
          "instanceRef": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AuthorizedPartyRequestDto": {
        "required": [
          "type",
          "value"
        ],
        "type": "object",
        "properties": {
          "type": {
            "minLength": 1,
            "type": "string"
          },
          "value": {
            "minLength": 1,
            "type": "string"
          },
          "partyFilter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttributeDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AuthorizedPartyTypeDto": {
        "enum": [
          "None",
          "Person",
          "Organization",
          "SelfIdentified"
        ],
        "type": "string"
      },
      "CharReadOnlyMemory": {
        "type": "object",
        "properties": {
          "length": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "isEmpty": {
            "type": "boolean",
            "readOnly": true
          },
          "span": {
            "$ref": "#/components/schemas/CharReadOnlySpan"
          }
        },
        "additionalProperties": false
      },
      "CharReadOnlySpan": {
        "type": "object",
        "properties": {
          "length": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "isEmpty": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "CreateServiceOwnerRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "nullable": true
          },
          "to": {
            "type": "string",
            "nullable": true
          },
          "resource": {
            "$ref": "#/components/schemas/RequestReferenceDto"
          },
          "package": {
            "$ref": "#/components/schemas/RequestReferenceDto"
          }
        },
        "additionalProperties": false
      },
      "ErrorCode": {
        "type": "object",
        "properties": {
          "hasValue": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "MPDelegationExternal": {
        "type": "object",
        "properties": {
          "consumer_org": {
            "type": "string",
            "nullable": true
          },
          "supplier_org": {
            "type": "string",
            "nullable": true
          },
          "delegation_scheme_Id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "scopes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "resourceid": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrganizationNumber": {
        "type": "object",
        "additionalProperties": false
      },
      "PartyEntityDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "variant": {
            "type": "string",
            "nullable": true
          },
          "organizationIdentifier": {
            "type": "string",
            "nullable": true
          },
          "personIdentifier": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PartyReferenceDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PersonIdentifier": {
        "type": "object",
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": { }
      },
      "RequestDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/RequestStatus"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "lastUpdatedBy": {
            "$ref": "#/components/schemas/PartyReferenceDto"
          },
          "resource": {
            "$ref": "#/components/schemas/RequestReferenceDto"
          },
          "package": {
            "$ref": "#/components/schemas/RequestReferenceDto"
          },
          "links": {
            "$ref": "#/components/schemas/RequestLinks"
          },
          "from": {
            "$ref": "#/components/schemas/PartyEntityDto"
          },
          "to": {
            "$ref": "#/components/schemas/PartyEntityDto"
          },
          "by": {
            "$ref": "#/components/schemas/PartyEntityDto"
          }
        },
        "additionalProperties": false
      },
      "RequestLinks": {
        "type": "object",
        "properties": {
          "detailsLink": {
            "type": "string",
            "nullable": true
          },
          "statusLink": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RequestPackageDto": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "nullable": true
          },
          "to": {
            "type": "string",
            "nullable": true
          },
          "package": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RequestReferenceDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "referenceId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RequestResourceDto": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "nullable": true
          },
          "to": {
            "type": "string",
            "nullable": true
          },
          "resource": {
            "type": "string",
            "nullable": true
          },
          "rightKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RequestStatus": {
        "enum": [
          "None",
          "Draft",
          "Pending",
          "Approved",
          "Rejected",
          "Withdrawn"
        ],
        "type": "string"
      },
      "RightDto": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "resource": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttributeDto"
            },
            "nullable": true
          },
          "action": {
            "$ref": "#/components/schemas/AttributeDto"
          }
        },
        "additionalProperties": false
      },
      "RightKeyListDto": {
        "type": "object",
        "properties": {
          "directRightKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ServiceOwnerAccessPackageDelegation": {
        "required": [
          "from",
          "packageUrn",
          "to"
        ],
        "type": "object",
        "properties": {
          "from": {
            "$ref": "#/components/schemas/ServiceOwnerConnectionPartyUrn"
          },
          "to": {
            "$ref": "#/components/schemas/ServiceOwnerConnectionPartyUrn"
          },
          "packageUrn": {
            "$ref": "#/components/schemas/AccessPackageUrn"
          }
        },
        "additionalProperties": false
      },
      "ServiceOwnerConnectionPartyUrn": {
        "type": "string",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ServiceOwnerConnectionPartyUrn.PartyUuid"
          },
          {
            "$ref": "#/components/schemas/ServiceOwnerConnectionPartyUrn.OrganizationId"
          },
          {
            "$ref": "#/components/schemas/ServiceOwnerConnectionPartyUrn.PersonId"
          }
        ],
        "additionalProperties": false,
        "format": "urn",
        "example": "urn:altinn:party:uuid:049d6f78-f087-41c3-a4ec-c98f5451e387"
      },
      "ServiceOwnerConnectionPartyUrn.OrganizationId": {
        "pattern": "^urn:altinn:organization:identifier-no:.+$",
        "type": "string",
        "additionalProperties": false,
        "format": "urn",
        "example": "urn:altinn:organization:identifier-no:937884117"
      },
      "ServiceOwnerConnectionPartyUrn.PartyUuid": {
        "pattern": "^urn:(?:altinn:party:uuid)|(?:altinn:person:uuid)|(?:altinn:organization:uuid)|(?:altinn:systemuser:uuid):.+$",
        "type": "string",
        "additionalProperties": false,
        "format": "urn",
        "example": "urn:altinn:party:uuid:049d6f78-f087-41c3-a4ec-c98f5451e387"
      },
      "ServiceOwnerConnectionPartyUrn.PersonId": {
        "pattern": "^urn:altinn:person:identifier-no:.+$",
        "type": "string",
        "additionalProperties": false,
        "format": "urn",
        "example": "urn:altinn:person:identifier-no:02013299997"
      },
      "ServiceOwnerConnectionPartyUrn.Type": {
        "enum": [
          1,
          2,
          3
        ],
        "type": "integer",
        "format": "int32"
      },
      "ServiceOwnerResourceDelegation": {
        "required": [
          "from",
          "resource",
          "to"
        ],
        "type": "object",
        "properties": {
          "from": {
            "$ref": "#/components/schemas/ServiceOwnerConnectionPartyUrn"
          },
          "to": {
            "$ref": "#/components/schemas/ServiceOwnerConnectionPartyUrn"
          },
          "resource": {
            "type": "string",
            "nullable": true
          },
          "rightKeys": {
            "$ref": "#/components/schemas/RightKeyListDto"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "http",
        "description": "Standard Authorization header using the Bearer scheme. Example: \"bearer {token}\"",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}