{{ $xl :=  .Get "col-xl" | default "4" }}
{{ $lg :=  .Get "col-lg" | default "6" }}
{{ $md :=  .Get "col-md" | default "12" }}
{{ $sm :=  .Get "col-sm" | default "12" }}
{{ $xs :=  .Get "col-xs" | default "12" }}

<div class="col-12 col-xl-{{$xl}} col-lg-{{$lg}} col-md-{{$md}} col-sm-{{$sm}} col-xs-{{$xs}}">
    <a href="{{ with .Site.GetPage `/design`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
        <h2 class="a-h3">{{ T "how-we-design"}}</h2>
        <p class="a-js-truncate-2">{{ T "how-we-design-description"}}</p>
        <div class="a-illustration-icon">
            <img src="/images/forsideillustrasjon_design.svg">
            <div class="a-illustration-overlay">
                <span class="sr-only">{{ T "how-we-design"}}</span>
            </div>
        </div>
    </a>
    <div class="a-list-container mb-2 mx-auto mx-lg-2">
        <ul class="a-list a-list-noIcon">
            <li class="a-dotted a-clickable a-list-hasRowLink">
                <a href="/design/designprinsipper/" class="a-list-rowLink">
                    <div class="row">
                        <div class="col">
                            {{ T "design-principles"}}
                        </div>
                    </div>
                </a>
            </li>
            <li class="a-dotted a-clickable a-list-hasRowLink">
                <a href="/design/designsystem" class="a-list-rowLink">
                    <div class="row">
                        <div class="col">
                            {{ T "designsystem"}}
                        </div>
                    </div>
                </a>
            </li>
            <li class="a-dotted a-clickable a-list-hasRowLink">
                <a href="/design/figma/" class="a-list-rowLink">
                    <div class="row">
                        <div class="col">
                            {{ T "figma-getting-started"}}
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>