<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}" class="js csstransforms3d">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "meta.html" . }}
    {{if .IsHome}}
    <title>Altinn digitalisering - Utvikling</title>
    {{else}}
    <title>{{ .Title }} :: Altinn digitalisering - Utvikling</title>
    {{end}}
    <link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
    <link href="{{"css/nucleus.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/hybrid.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/horsey.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/fortawesome.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/designsystem.css" | relURL}}" rel="stylesheet">
    {{with .Site.Params.themeStyle}}
    <link href="{{(printf "css/%s.css" .) | relURL}}" rel="stylesheet">
    {{else}}
    <link href="{{"css/theme.css" | relURL}}" rel="stylesheet">
    {{end}}
    {{with .Site.Params.themeVariant}}
      <link href="{{(printf "css/theme-%s.css" .) | relURL}}" rel="stylesheet">
    {{end}}
    
    <script src="{{"js/jquery-2.x.min.js" | relURL}}"></script>

    {{ partial "custom-head.html" . }}

    <style>
      :root #header + #content > #left > #rlblock_left {
        display:none !important;
      }
    </style>


  </head>
  <body class="a-page" data-url="{{ .RelPermalink }}">
    {{ partial "topbar.html" . }}

    {{ if and (.IsHome) (.Params.jumbotron) }}
      {{ partial "jumbotron.html" . }}
    {{end}}


    <div class="container pt-2 pt-md-3 pt-lg-5">

    <div class="row adocs-featuredBlocks">
        <div class="col-12 col-lg-4 mb-5">
            <a href="/design/" class="a-illustrationLink">
                <h2 class="a-h3">Slik designer vi</h2>
                <p class="a-js-truncate-2">Her finner du våre designprinsipper, visuelle profil, merkevare og personlighet.</p>
                <div class="a-illustration-icon">
                    <img src="/images/forsideillustrasjon_design.svg">
                    <div class="a-illustration-overlay">
                        <span class="sr-only">Gå til tema: Design</span>
                    </div>
                </div>
            </a>
            <div class="a-list-container mb-2 mx-auto mx-lg-2">
                <ul class="a-list a-list-noIcon">
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="/design/designprinsipper/" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Designprinsipper
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="/design/designsystem" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Designsystem
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="/design/figma/" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Kom i gang med Figma
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-5">
            <a href="/teknologi/" class="a-illustrationLink">
                <h2 class="a-h3">Slik utvikler vi</h2>
                <p class="a-js-truncate-2">Finn ut mer om våre tekniske løsninger, arkitekturen bak, og hvordan vi utvikler.</p>
                <div class="a-illustration-icon">
                    <img src="/images/forsideillustrasjon_utvikling.svg">
                    <div class="a-illustration-overlay">
                        <span class="sr-only">Gå til tema: Teknologi</span>
                    </div>
                </div>
            </a>
            <div class="a-list-container mb-2 mx-auto mx-lg-2">
                <ul class="a-list a-list-noIcon">
                <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="/teknologi/generell-systemdokumentasjon" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Arkitektur og infrastruktur
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="/teknologi/altinnstudio/" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Altinn studio
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="/teknologi/front-end-designsystem/" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Front-end designsystem
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-5">
              <a href="/innhold/" class="a-illustrationLink">
                  <h2 class="a-h3">Slik skriver vi</h2>
                  <p class="a-js-truncate-2">Tips og råd som er viktige for at flest mulig skal kunne finne og forstå teksten din.</p>
                  <div class="a-illustration-icon">
                      <img src="/images/forsideillustrasjon_skrive.svg">
                      <div class="a-illustration-overlay">
                          <span class="sr-only">Gå til tema: Innhold</span>
                      </div>
                  </div>
              </a>
              <div class="a-list-container mb-2 mx-auto mx-lg-2">
                  <ul class="a-list a-list-noIcon">
                      <li class="a-dotted a-clickable a-list-hasRowLink">
                          <a href="/innhold/skriveråd/" class="a-list-rowLink">
                              <div class="row">
                                  <div class="col">
                                      Skriveråd
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="a-dotted a-clickable a-list-hasRowLink">
                          <a href="/innhold/målform/" class="a-list-rowLink">
                              <div class="row">
                                  <div class="col">
                                      Målform
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="a-dotted a-clickable a-list-hasRowLink">
                          <a href="/innhold/universell-utforming-for-innhold/" class="a-list-rowLink">
                              <div class="row">
                                  <div class="col">
                                      Universell utforming
                                  </div>
                              </div>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="adocs-caseBlock a-bgBlueDark">
          <div class="row mx-sm-0 mb-6 mb-lg-8">
              <div class="col-12 col-md-5 p-0">
                  <div class="">
                      <img src="/images/altinndigitalutvikling.svg" class="mx-4 mt-4" alt="Illustrasjon for Utviklingsguider">
                  </div>
              </div>
              <div class="col-12 col-md-7 d-flex flex-column align-self-center pl-3 pl-md-5 pl-lg-0 pr-4 pr-lg-8">
                  <h2 class="a-fontSizeXL mb-1">Skal du digitalisere tjenestene
                      dine med hjelp av Altinn?</h2>
                  <p class="a-fontSizeS mb-4">Finn våre utviklingsguider på  <a href="https://www.altinndigital.no/utvikling/" class="">
                    altinn digitalisering
                </a></p>
              </div>
          </div>
       </div>



      <div class="adocs-scrollcontainer d-none">
        <div class="row">
            <div class="col-sm-12">

        <section>
          <div id="content" class="adocs-content js-moveChildrenTo">
        <div id="overlay"></div>
        <div class="a-text">
        <div id="body-inner"> 
