<div class="adocs-caseblock a-bgGreyLight">
    <div class="row mx-sm-0 mt-3 mb-3">
        <div class="col-12 col-md-5 p-0">
            <img src="/images/community.svg" class="mx-4 mt-2" alt="Illustrasjon for Utviklingsguider">
        </div>
        <div class="col-12 col-md-7 pl-3 pl-md-5 pl-lg-0 pr-4 pr-lg-8">
            <h2 class="a-fontSizeXL a-fontBold mb-1"> {{ T "caseblock-title"}}</h2>
            <p class="a-fontSizeS mb-4">{{ T "caseblock-description" | safeHTML}}</p>

            <a class="a-btn a-btn-border" href="{{ with .Site.GetPage `/community`}}{{.RelPermalink}}{{end}}">{{ T "caseblock-link"}}</a>
        </div>
    </div>
 </div>
