<footer class="adocs-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        <a href="https://www.altinn.no/om-altinn/">{{ T "about-altinn"}}</a>
                    </li>
                    <li>
                        <a href="https://github.com/Altinn/altinn-studio/issues">Backlog</a>
                    </li>
                    <li>
                        <a href="https://altinnstudio.slack.com">Slack</a>
                    </li>
                    <li>
                        <a href="https://github.com/Altinn/altinn-studio">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>