<div class="jumbotron jumbotron-fluid a-jumbotron a-jumbotron-header a-jumbotron-dark" style="background-color: #6A6A6A; background-image: url('{{$.Site.BaseURL}}images/jumbotron2.svg')">

  <div class="container">
      <div class="row">
          <div class="col-8 col-sm-6 offset-sm-1">
              <span class="a-jumbotron-ingress">
                Altinn is one of the leading digital government technology platforms.<br>
                Now we're building the next generation platform as open source.
              </span>
          </div>
      </div>
  </div>
</div>
