<div class="jumbotron jumbotron-fluid a-jumbotron a-jumbotron-header a-jumbotron-dark" style="background-color: #022F51; background-image: url('{{$.Site.BaseURL}}images/jumbotron.svg')">

  <div class="container">
      <div class="row">
          <div class="col-10 offset-sm-1">
              <span class="a-jumbotron-ingress">
                <h1>Lær om hvordan vi lager Altinn</h1>
                Her har vi samlet det du trenger å vite når du skal jobbe med å videreutvikle Altinn. Målet er konsistente løsninger og forenklet arbeidsflyt for designere og utviklere.
              </span>
          </div>
      </div>
  </div>
</div>
