<div style="background-color: #6a6a6a;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid a-jumbotron a-jumbotron-header a-jumbotron-dark adocs-jumbotron-leftimage"
                    style="background-color: #6a6a6a;">
                    <img src="https://www.altinndigital.no/globalassets/altinn-studio-2.svg" style="height: 17em; float: left" />
                            <span class="a-jumbotron-ingress">
                                Altinn is one of the leading digital government technology platforms.<br>
                                Now we're building the next generation platform as open source.
                            </span>
                </div>
            </div>
        </div>
    </div>
</div>
