<nav class="a-jumpnav">
  <ul class="no-decoration d-flex">
    <li><a class="sr-only sr-only-focusable" href="#content">{{ T "jump-to-main-content" }}</a></li>
    <li><a class="sr-only sr-only-focusable" href="#docsmenu">{{ T "jump-to-main-menu" }}</a></li>
  </ul>
</nav>

<header class="a-header ">
  <!-- Begin .container -->
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Begin .a-globalNav -->
        <nav class="a-globalNav " id="primary-nav">
          <a href="/" class="a-globalNav-logo" style="color:black; background-color:white; padding: 0.1em 0.3em; font-size: 22px; font-weight: bold">
            <img style="background-color:white;" src="/images/AltinnD-logo.svg" alt="Altinn Studio logo"
              class="an-logo adocs-logo">
              <span>docs</span>
              <span class="sr-only">{{ T "to-the-frontpage"}}</span>
          </a>

          <button class="navbar-toggler d-md-none" type="button"><span class="sr-only">{{ T "show-hide-menu"}}</span></button>
          <div class="collapse navbar-toggleable-sm a-globalNav-main" id="exCollapsingNavbar2">
            <ul id="exCollapsingNavbar">
             
              <li>
                <a class="a-hvr-underline" href="/design/">
                  {{ T "design"}}
                </a>
              </li>
              <li>
                <a class="a-hvr-underline " href="/teknologi/">
                  {{ T "technology"}}
                </a>
              </li>
              <li>
                <a class="a-hvr-underline" href="/innhold/">
                  {{ T "content"}}
                </a>
              </li>
            </ul>
          </div>

        </nav> <!-- End .a-globalNav -->

        {{partial "language-switcher.html" .}}

      </div><!-- End .col -->
    </div> <!-- End .row -->
  </div> <!-- End .container -->
</header>


