<nav class="a-jumpnav">
  <ul class="no-decoration d-flex">
    <li><a class="sr-only sr-only-focusable" href="#content">{{ T "jump-to-main-content" }}</a></li>
    {{- if not .Params.jumbotron -}}
    <li><a class="sr-only sr-only-focusable" href="#docsmenu">{{ T "jump-to-main-menu" }}</a></li>
    {{- end -}}
  </ul>
</nav>

<header class="a-header ">
  <!-- Begin .container -->
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Begin .a-globalNav -->
        <nav class="a-globalNav " id="primary-nav">
          <a href="{{ with .Site.GetPage `/`}}{{.RelPermalink}}{{end}}" class="a-globalNav-logo">
            <img src="/images/altinnstudio-logo-white.svg" alt="Altinn Studio logo" class="adocs-logo">
            <span class="sr-only">{{ T "to-the-frontpage"}}</span>
          </a>

          <button class="navbar-toggler d-md-none" type="button"><span class="sr-only">{{ T "show-hide-menu"}}</span></button>
          <div class="collapse navbar-toggleable-sm a-globalNav-main" id="exCollapsingNavbar2">
            <ul id="exCollapsingNavbar">
              <li class="d-md-none dropdown">
                {{- partial "language-switcher.html" . -}}
              </li>
              <li>
                <a class="a-nav-link a-hvr-underline" href="{{ with .Site.GetPage `/app`}}{{.RelPermalink}}{{end}}">apps</a>
              </li>
              <li>
                <a class="a-nav-link a-hvr-underline" href="{{ with .Site.GetPage `/api`}}{{.RelPermalink}}{{end}}">api</a>
              </li>
              <li>
                <a class="a-nav-link a-hvr-underline" href="{{ with .Site.GetPage `/community`}}{{.RelPermalink}}{{end}}">community</a>
              </li>
              <li>
                <a class="a-nav-link a-hvr-underline " href="{{ with .Site.GetPage `/technology`}}{{.RelPermalink}}{{end}}">tech</a>
              </li>
            </ul>
          </div>

        </nav> <!-- End .a-globalNav -->
        <ul class="nav nav-pills a-header-options" id="nav-list">
          <li class="nav-item dropdown d-none d-md-block">
            {{- partial "language-switcher.html" . -}}
          </li>
        </ul>
      </div><!-- End .col -->
    </div> <!-- End .row -->
  </div> <!-- End .container -->
</header>
