{{- $paramName := .Get 0 -}}
{{- $schemaName := .Page.Params.schemaname -}}

{{- if $paramName -}}
    {{- template "getComponent" $paramName -}}
{{- else if $schemaName -}}
    {{- template "getComponent" $schemaName -}}
{{- else -}}
    <em>Component name missing.</em>
{{- end -}}

{{- define "getComponent" -}}
    {{- $componentName := . -}}

    {{- $baseURL := "https://raw.githubusercontent.com/Altinn/app-frontend-react/chore/update-component-schemas/schemas/json/component/" -}}
    {{- $fileExtension := ".schema.v1.json" -}}

    {{- $jsonSchema := getJSON $baseURL $componentName $fileExtension -}}

    {{- with $jsonSchema -}}
        {{- $componentProps := index $jsonSchema "properties" -}}
        {{- $requiredProps := index $jsonSchema "required" -}}
        
        {{- $URL := printf "%s%s%s" $baseURL $componentName $fileExtension -}}
        <a href="{{- $URL -}}">JSON schema</a>

        {{- with $requiredProps -}}
            <p><strong>Required properties: </strong> {{- template "formatAsCode" $requiredProps -}}</p>
        {{- end -}}
        
        <br>

        {{- template "list-properties" (dict "properties" $componentProps) -}}
    {{- else -}}
        <em>Failed to retrieve JSON schema for '{{- $componentName -}}'. Make sure the component schemaname is spelled correctly.</em>
    {{- end -}}
{{- end -}}