{{/* First param should be full path to the file.
 Following parameters will be replaces based on a 0-index.
 Placeholders must use format {0}, {1}... {n}

 Usage:
 {{% insert [full file path] [variable 0]... [variable n]" %}}
 */}}

{{ $filePath := .Get 0 }}

{{ if fileExists $filePath }}
{{ $content := readFile $filePath }}
{{ if $content }}
{{ range $index, $param := .Params }}
  {{ if ne $index 0 }}
    {{ $content = replace $content (printf "{%d}" (sub $index 1)) $param }}
{{ end }}
  {{- end -}}
  {{ $content | markdownify}}
{{ end }}
{{ else }}
  File does not exist: {{ $filePath }}
{{ end }}