{{ partial "landing-pages/frontpage.html" . }}
	<span id="sidebar-toggle-span" class="adocs-sidebarToggle adocs-sidebarToggle-firstPage"> 
		<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fa fa-bars"></i> {{T "Navigation"}}</a>
	</span>
{{if .Site.Home.Content }} 
	{{ $regExpIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" title=\"([^\"]+)\" /></p>" }}
	{{ $regExpOut := "<figure><a href=\"$1\"><img src=\"$1\" alt=\"$2\" title=\"$3\" /></a><figcaption><em>$3</em></figcaption></figure>" }}
	{{ $finalContent := .Site.Home.Content | replaceRE $regExpIn $regExpOut | safeHTML }}
	{{ $finalContent }}
{{ end }}  
{{ partial "footer.html" . }}
