<div class="adocs-caseBlock a-bgBlueDark">
    <div class="row mx-sm-0 mb-6 mb-lg-8">
        <div class="col-12 col-md-5 p-0">
            <div class="">
                <img src="/images/altinndigitalutvikling.svg" class="mx-4 mt-4" alt="Illustrasjon for Utviklingsguider">
            </div>
        </div>
        <div class="col-12 col-md-7 d-flex flex-column align-self-center pl-3 pl-md-5 pl-lg-0 pr-4 pr-lg-8">
            <h2 class="a-fontSizeXL mb-1"> {{ T "digitalize"}}</h2>
            <p class="a-fontSizeS mb-4">{{ T "dev-guides" | safeHTML}}</p>
        </div>
    </div>
 </div>