
<div>
    <div class="ap-swatch" style="background: #022F51;">
    <div class="ap-colorCircle" style="border: 1px solid #1EAEF7; color: #1EAEF7; font-size: 20px; line-height: 36px;">AA</div>
    <div class="ap-colorCircle" style="border: 1px solid #CFF0FF; color: #CFF0FF; font-size: 20px; line-height: 36px;">AAA</div>
    <div class="ap-colorCircle" style="border: 1px solid #fff; color: #fff; font-size: 20px; line-height: 36px;">AAA</div>
    </div>
    <div class="ap-swatch" style="background: #0062ba;">
    <div class="ap-colorCircle" style="border: 1px solid #CFF0FF; color: #CFF0FF; font-size: 20px; line-height: 36px;">AA</div>
    <div class="ap-colorCircle" style="border: 1px solid #fff; color: #fff; font-size: 20px; line-height: 36px;">AA</div>
    </div>
    <div class="ap-swatch" style="background: #1eaef7;">
    <div class="ap-colorCircle" style="border: 1px solid #000; color: #000; font-size: 20px; line-height: 36px;">AAA</div>
    </div>
    <div class="ap-swatch" style="background: #cff0ff;">
    <div class="ap-colorCircle" style="border: 1px solid #0062BA; color: #0062BA; font-size: 20px; line-height: 36px;">AA</div>
    <div class="ap-colorCircle" style="border: 1px solid #022f51; color: #022f51; font-size: 20px; line-height: 36px;">AAA</div>
    <div class="ap-colorCircle" style="border: 1px solid #000; color: #000; font-size: 20px; line-height: 36px;">AAA</div>
    </div>
    <div class="ap-swatch" style="background: #17c96b;">
    <div class="ap-colorCircle" style="border: 1px solid #000; color: #000; font-size: 20px; line-height: 36px;">AAA</div>
    </div>
    <div class="ap-swatch" style="background: #e23b53;">
    <div class="ap-colorCircle" style="border: 1px solid #000; color: #000; font-size: 20px; line-height: 36px;">AA</div>
    </div>
    <div class="ap-swatch" style="background: #efefef;">
    <div class="ap-colorCircle" style="border: 1px solid #6a6a6a; color: #6a6a6a; font-size: 20px; line-height: 36px;">AA</div>
    <div class="ap-colorCircle" style="border: 1px solid #000; color: #000; font-size: 20px; line-height: 36px;">AAA</div>
    </div>
    <div class="ap-swatch" style="background: #ffffff;">
    <div class="ap-colorCircle" style="border: 1px solid #6a6a6a; color: #6a6a6a; font-size: 20px; line-height: 36px;">AA</div>
    <div class="ap-colorCircle" style="border: 1px solid #0062BA; color: #0062BA; font-size: 20px; line-height: 36px;">AA</div>
    <div class="ap-colorCircle" style="border: 1px solid #022f51; color: #022f51; font-size: 20px; line-height: 36px;">AAA</div>
    <div class="ap-colorCircle" style="border: 1px solid #000; color: #000; font-size: 20px; line-height: 36px;">AAA</div>
    </div>
</div>