{{- $paramName := .Get 0 -}}
{{- $schemaName := .Page.Params.schemaname -}}

{{- if $paramName -}}
    {{- template "getComponent" $paramName -}}
{{- else if $schemaName -}}
    {{- template "getComponent" $schemaName -}}
{{- else -}}
    <em>Component name missing.</em>
{{- end -}}

{{- define "getComponent" -}}
    {{- $componentName := . -}}

    {{- $baseURL := "https://raw.githubusercontent.com/Altinn/app-frontend-react/main/schemas/json/component/" -}}
    {{- $fileExtension := ".schema.v1.json" -}}
    {{- $URL := printf "%s%s%s" $baseURL $componentName $fileExtension -}}

    {{- $resource := resources.GetRemote $URL -}}
    {{- $jsonSchema := "" -}}

    {{- if $resource -}}
        {{- $jsonSchema = $resource | transform.Unmarshal -}}
    {{- end -}}

    {{- with $jsonSchema -}}
        {{- $componentProps := index $jsonSchema "properties" -}}
        {{- $requiredProps := index $jsonSchema "required" -}}

        <a href="{{- $URL -}}">JSON schema</a>

        {{- with $requiredProps -}}
            <p><strong>Required properties: </strong> {{- template "formatAsCode" $requiredProps -}}</p>
        {{- end -}}

        {{- template "properties-table" (dict "properties" $componentProps) -}}
    {{- else -}}
        <em>JSON schema not yet available for '{{- $componentName -}}'. Component schemas are being migrated to the app-frontend-react repository.</em>
    {{- end -}}
{{- end -}}