{{ $diagram := `
    flowchart TD
    %% Post-published flow
    A[Start: Published] --> B{Recipient Actions}
    
    B -->|GetOverview or GetDetails| C[Set Status: Fetched]
    B -->|Download Attachments from any state| G[Set Status: AttachmentsDownloaded]
    
    C --> D{Recipient Actions}
    D -->|Mark as Read| E[Set Status: Read]
    D -->|Continue to Confirm| H{Confirm?}
    
    E --> H{Confirm?}
    H -->|Yes| J[Set Status: Confirmed]
    H -->|No or Not Required| L{Purge?}
    
    J --> L{Purge?}
    G --> L
    L -->|By Recipient| N[Set Status: PurgedByRecipient]
    L -->|By Altinn| O[Set Status: PurgedByAltinn]
    L -->|No| P[End]
    N --> P
    O --> P

    style A fill:#f9f,stroke:#333,stroke-width:2px
    style P fill:#f9f,stroke:#333,stroke-width:2px
    style C fill:#99ff99,stroke:#333,stroke-width:2px
    style E fill:#99ff99,stroke:#333,stroke-width:2px
    style G fill:#99ff99,stroke:#333,stroke-width:2px
    style J fill:#99ff99,stroke:#333,stroke-width:2px
    style N fill:#87ceeb,stroke:#333,stroke-width:2px
    style O fill:#87ceeb,stroke:#333,stroke-width:2px
` }}

<div class="mermaid">
    {{ $diagram }}
    </div>