{{- $prop := .Get "prop" -}}
{{- $contentPath := "/altinn-studio/reference/ux/components/_common-props-content/" -}}
{{- $page := printf "%s%s" $contentPath $prop -}}
{{- .Scratch.Set "page" $page -}}

{{- with .Site.GetPage $page -}}
    {{/*  If prop name ends with 'page', get the whole page content  */}}
    {{- $split := split $prop "-" -}}
    {{- $isFullPage := eq (index $split (sub (len $split) 1)) "page" -}}

    {{- if $isFullPage -}}
        {{- .Content -}}
    
    {{- else -}}
    {{- $content := partial "component-props/get-content.html" . -}}

    {{- with index $content "intro" -}}
    {{- . | markdownify -}}
    {{- end -}}

    {{- with index $content "asd" -}}
    {{- $.Scratch.Set "asd" . -}}
    {{- end -}}

    {{- with index $content "code" -}}
    {{- $.Scratch.Set "code" . -}}
    {{- end -}}

    {{- partial "component-props/tabs.html" $ -}}

    {{- with index $content "more" -}}
    {{- . | markdownify -}}
    {{- end -}}
    {{- end -}}

{{- else -}}
    {{- warnf "Page not found %q (language %q)" $page .Site.LanguageCode -}}
{{- end -}}