{{- define "formatAsCode" -}}
    {{- $description := . -}}
    {{- $descriptionType := printf "%T" $description -}}

    {{- if eq $descriptionType  "[]interface {}" -}}
        {{- $len := len $description -}}
        {{- range $index, $element := $description -}}
            {{- $elementType := printf "%T" $element -}}
            {{- if eq $elementType  "map[string]interface {}" -}}
                {{- range $map := $description -}}
                    {{- range $key, $val := $map -}}
                        {{- $element = (printf "{%s: %s}" $key (string $val)) -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
            {{- if eq (add $index 1) $len -}}
                <code>{{- $element -}}</code>
            {{- else -}}
            <code>{{- $element -}}</code>, 
            {{- end -}}
        {{- end -}}
    {{- else -}}
        <code>{{- $description -}}</code>
    {{- end -}}
{{- end -}}